---
import Layout from '../../../layouts/Layout.astro'
---


<Layout title="Beginner Words">

   <div class="container flex flex-col mx-auto px-4 bg-white min-h-screen pt-5"></div> 


</Layout>



<script is:inline>

const container=document.querySelector(".container")

const renderwords= async ()=>{
    let box='';
        const res=await fetch("https://server-five-dusky.vercel.app/games")
        const data=await res.json()     
        data.forEach((el)=>{
          box+=`
          <button type="button" class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 flex items-center justify-between"><a href="/beginner?id=${el.id}"
<div class="text-white">
<h1 class="text-xl font-bold">${el.title}</h1>
<p class="text-lg">${el.desc}</p>
</div>
<a href="${el.file}"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-8 h-8 text-white">
  <path fill-rule="evenodd" d="M10.5 3.75a6 6 0 00-5.98 6.496A5.25 5.25 0 006.75 20.25H18a4.5 4.5 0 002.206-8.423 3.75 3.75 0 00-4.133-4.303A6.001 6.001 0 0010.5 3.75zm2.25 6a.75.75 0 00-1.5 0v4.94l-1.72-1.72a.75.75 0 00-1.06 1.06l3 3a.75.75 0 001.06 0l3-3a.75.75 0 10-1.06-1.06l-1.72 1.72V9.75z" clip-rule="evenodd" />
</svg></a>
</a>
</button>

            `

        })
        container.innerHTML=box
    }



window.addEventListener("DOMContentLoaded", ()=> renderwords())








</script>
