---
import Layout from '../../../layouts/Layout.astro'
import Alert from '../../../components/beginner/Alert.astro'
import Header from '../../../components/beginner/Header.astro'
import Main from '../../../components/beginner/Main.astro'
import Footer from '../../../components/beginner/Footer.astro'
import Score from '../../../components/beginner/Score.astro'
---

<Layout title="Beginner Game-1">
<Alert/>
<div id="main" class="w-full mx-auto px-4 min-h-screen bg-white">
<Header/>
<Main/>
<Footer/>
</div>
<Score>
</Layout>
<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous" is:inline></script>
<script src="https://code.responsivevoice.org/responsivevoice.js?key=3Wzpm5HU" is:inline></script>
<script is:inline>

	// Initialize variables
let currentFlashcard = 0;
let score = 0;
let overallScore=[]
let progress = 3;

$("#progress").val(progress)


//FlashCards

 // Define the flashcards
const flashcards = [
	 {
      word: "true",
      translation: "rost"
    },
    {
      word: "beautiful",
      translation: "chiroyli"
    },
    {
      word: "picture",
      translation: "rasm"
    },
    {
      word: "vegetarian",
      translation: "o'txo'r"
    },
    {
      word: "meat",
      translation: "go'sht"
    },
    {
      word: "friend",
      translation: "do'st"
    },
    {
      word: "parent",
      translation: "ota-ona"
    },
    {
      word: "start",
      translation: "boshlamoq"
    },
    {
      word: "snow",
      translation: "qor"
    },
    {
      word: "wrong",
      translation: "xato"
    },
    {
      word: "be unemployed",
      translation: "ishsiz"
    },
    {
      word: "be late",
      translation: "kechikmoq"
    },
    {
      word: "be tired",
      translation: "charchamoq"
    },
    {
      word: "a few",
      translation: "bir nechta"
    },
    {
      word: "ago",
      translation: "oldin"
    },
    {
      word: "a few minutes ago",
      translation: "bir necha daqiqa oldin"
    },
    {
      word: "better",
      translation: "yaxshiroq"
    },
    {
      word: "last night",
      translation: "o'tgan tunda"
    },
    {
      word: "exam",
      translation: "imtihon"
    },
    {
      word: "holiday",
      translation: "ta'til"
    },
    {
      word: "fall",
      translation: "yiqilmoq"
    },
    {
      word: "fall in love",
      translation: "sevib qolmoq"
    },
    {
      word: "find",
      translation: "topmoq"
    },
    {
      word: "forget",
      translation: "unutmoq"
    },
    {
      word: "give",
      translation: "bermoq"
    },
    {
      word: "know",
      translation: "bilmoq"
    },
    {
      word: "hear",
      translation: "eshitmoq"
    },
    {
      word: "leave",
      translation: "jo'nab ketmoq"
    },
    {
      word: "lose",
      translation: "yo'qotmoq"
    },
    {
      word: "pay",
      translation: "to'lamoq"
    },
    {
      word: "meet",
      translation: "uchrashmoq"
    },
    {
      word: "ring",
      translation: "telefon qilmoq"
    },
    {
      word: "sell",
      translation: "sotmoq"
    },
    {
      word: "win",
      translation: "yutmoq"
    },
    {
      word: "take off",
      translation: "yechmoq"
    },
    {
      word: "flight",
      translation: "parvoz"
    },
    {
      word: "two hours later",
      translation: "ikki soatdan so'ng"
    }
	]

//Main function

var audio=document.createElement("audio")
var audio2=document.createElement("audio")
audio.src="/static/audios/correct.wav"
audio2.src="/static/audios/fail.mp3"
audio.setAttribute("id","correct")
audio2.setAttribute("id","fail")
$("#main").append(audio)
$("#main").append(audio2)


//Random tabrik

let randomMessage;

function checkAnswer(){
	const taken=$("#answer").val()
const TypedValue=taken.toLowerCase()
	if (TypedValue===flashcards[currentFlashcard].translation) {
		score++
		overallScore.push(score)
		console.log(overallScore)
    document.getElementById("correct").play()
	  $("#check-btn").addClass("hidden");
	   $("#next-btn").removeClass("hidden");
	   $("#next-btn").removeClass("btn-secondary");
	   $("#next-btn").addClass("btn-success");
     $("#feedbar").show()
     $("#feedback").text(randomMessage)
     $("#feedbar").removeClass("bg-red-200")
     $("#feedback").removeClass("text-red-600")
     $("#feedbar").addClass("bg-green-200")
     $("#feedback").addClass("text-green-600")
     $("#score").html(score)
}
else{
   document.getElementById("fail").play()
	$("#check-btn").addClass("hidden");
	   $("#next-btn").removeClass("hidden");
	   $("#next-btn").removeClass("btn-success");
	   $("#next-btn").addClass("btn-secondary");
     $("#feedbar").fadeIn("fast")
     $("#feedbar").addClass("bg-red-200")
     $("#feedback").addClass("text-red-600")
     $("#feedback").text("Wrong!")
     $("#comment").text(`Answer: ${flashcards[currentFlashcard].translation}`)
     $("#score").html(score)
    
}

}
 

 //Next word

function nextFlashcard() {
var congrats=["Good", "Super!","Perfect!"]
var randomCongrats=Math.floor(Math.random()*congrats.length)
randomMessage = congrats[randomCongrats];
  $("#comment").text("")
	$("#check-btn").attr("disabled", "disabled");	
	$("#answer").on("input", function() {
    if ($(this).val() === "") {
      $("#check-btn").attr("disabled", "disabled");
    } else {
      $("#check-btn").removeAttr("disabled");
    }
  });
	$("#check-btn").removeClass("hidden");
	$("#next-btn").addClass("hidden");
  $("#answer").val('')
	currentFlashcard++;
  progress += 2.8;
  $("#progress").val(progress)
  $("#feedbar").fadeOut("fast", function(){
    $("#feedback").text("");
  })

  if (currentFlashcard === flashcards.length) {
  	$("#main").hide()
  	$("#last").show()
  	var scoreOver = overallScore.length - 1;
    var lastScore=overallScore[scoreOver]
    var percent=lastScore*100/37
  	$("#overallscore").text(lastScore);
  	$("#percent").text(percent.toFixed() +"%")
  }

  $("#word").html(flashcards[currentFlashcard].word)
  $("#word").attr("title", (flashcards[currentFlashcard].translation))
  var wordValue=$("#word").text()
  const voiceName = "UK English Male";
      responsiveVoice.speak(wordValue, voiceName);
    $("#play").click(()=>{
      wordValue=$("#word").text()
      const voiceName = "UK English Male";
      responsiveVoice.speak(wordValue, voiceName);
    })
}


//Set initial page
$("#word").html(flashcards[currentFlashcard].word)
$("#word").attr("title", (flashcards[currentFlashcard].translation))
$(document).ready(function(){
    wordValue=wordValue=$("#word").text()
      const voiceName = "UK English Male";
      responsiveVoice.speak(wordValue, voiceName);
       // Disable the "Check" button initially
  $("#check-btn").attr("disabled", "disabled");
  
  })


 $("#answer").on("input", function() {
    if ($(this).val() === "") {
      $("#check-btn").attr("disabled", "disabled");
    } else {
      $("#check-btn").removeAttr("disabled");
    }
  });


//Exit
$("#exit").click(function(){
  $("#alert").show()
})

$("#deny").click(()=>{
  $("#alert").hide()
})

$("#accept").click(()=>{
  window.location.href="/"
})

</script>