---
import Layout from '../../../layouts/Layout.astro'
---


<Layout title="Beginner Words">

   <div class="container mx-auto px-4 bg-white min-h-screen"></div> 


</Layout>



<script is:inline>

const container=document.querySelector(".container")

const renderwords= async ()=>{
    let box='';
        const res=await fetch("http://localhost:3000/games")
        const data=await res.json()     
        data.forEach((el)=>{
          box+=`
          <a href="details?id=${el.id}" target="_blank" class="rounded-lg shadow-lg my-2 p-3 bg-white text-gray-900 dark:bg-slate-700 dark:text-white">
            <h3 class="text-xl font-bold">${el.title}</h3>
            <p class="text-lg">${el.desc}</p>
            </a>
            `

        })
        container.innerHTML=box
    }



window.addEventListener("DOMContentLoaded", ()=> renderwords())








</script>
