---
import Layout from '../../../layouts/Layout.astro'
---

<Layout title="Vocabulary">
<main class="container mx-auto px-4 flex flex-col bg-white dark:bg-900 items-center py-5 justify-center min-h-screen">

<div onclick='window.open("/wordnik/beginner/begin")' container mx-auto px-4 my-2 p-6 bg-teal-600 border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
    <h5 class="mb-2 my-3 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">A1 and A2 Level</h5>
<a  href="https://ieltsdaily.ir/static/downloads/ENGLISH%20VOCABULARY%20IN%20USE%20Elementary%20THIRD_EDITION.pdf" class=" bg-white text-gray-800 dark:bg-indigo-600 rounded-lg px-4 py-2 dark:text-white my-3">Download PDF</a>
</div>

<div onclick='window.open("/")' class="container mx-auto px-4 my-2 p-6 bg-teal-600 border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">B1 Level</h5>
<a  href="https://apoyanblog.files.wordpress.com/2014/09/destination-b1.pdf" class="bg-white text-gray-800 dark:bg-indigo-600 rounded-lg px-4 py-2 dark:text-white my-3">Download PDF</a>
</div>

<div  class="container mx-auto px-4 my-2 p-6 bg-violet-600 border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Upper-Intermediate & Advanced Level</h5>
<a  href="https://english4u.com.vn/Uploads/files/English%20Vocabulary%20in%20Use%20Upper-Intermediate.pdf" class="bg-white text-gray-800 dark:bg-indigo-600 rounded-lg px-4 py-2 dark:text-white my-3">Download PDF</a>
</div>




</main>
</Layout>
