---
import Layout from '../../../layouts/Layout.astro'
---

<Layout title="Vocabulary">
<main class="container mx-auto px-4 flex flex-col bg-white dark:bg-gray-900 items-center py-5 justify-center min-h-screen">

<div onclick='window.open("/wordnik/beginner/begin")' class="container mx-auto px-4 my-2 p-6 bg-transparent border-2 border-indigo-600 rounded-lg shadow hover:bg-indigo-600 hover:text-white dark:border-gray-800 dark:bg-gray-700 ">
    <h5 class="mb-2 my-3 py-3 text-2xl font-bold tracking-tight text-blue-600  dark:text-white">Beginner & Elementary Level</h5>
<a  href="https://ieltsdaily.ir/static/downloads/ENGLISH%20VOCABULARY%20IN%20USE%20Elementary%20THIRD_EDITION.pdf" class=" bg-blue-600 hover:bg-white text-white hover:text-blue-600 dark:bg-indigo-600 rounded-lg px-4 py-2 dark:text-white my-3">Download PDF</a>
</div>


</main>
</Layout>
