<style>
p{
margin:15px 0;
}
</style>
<div id="module2" class="hidden module w-full">
<h2 class="text-2xl font-bold my-3">Hometown & Neighbourhood</h2>
<p class="text-xl font-bold"></b>Key Vocabulary</b></p>

<p><strong>born and raised/bred in -</strong> ... da&nbsp;tug&#39;ilgan va o&#39;sgan / tarbiya topgan</p>

<p><strong>located/situated -</strong>&nbsp;joylashgan/joylashgan</p>

<p><strong>in the southern/northern part </strong>-&nbsp;janubiy/shimoliy qismida</p>

<p><strong>coastal city -&nbsp;</strong>qirg&#39;oq shahri, sohil bo&#39;yidagi shahar</p>

<p><strong>commercial center</strong> - tijoriy markaz, savdo markazi</p>

<p><strong>small country town -&nbsp;</strong>kichik qishloq shahri</p>

<p><strong>bustling metropolis -</strong>&nbsp;gavjum metropolis(shahar)</p>

<p><strong>metropolitan city - </strong>metropolitan shahar</p>

<p><strong>sprawling city -&nbsp;</strong>katta shahar</p>

<p><strong>residential areas- </strong>turar-joy binolari</p>

<p><strong>multicultural city/culturally diverse/cosmopolitan city -&nbsp;</strong>ko&lsquo;p madaniyatli shahar/madaniy jihatdan xilma-xil/kosmopolit shahar</p>

<p><strong>middle-class/working class - </strong>o&#39;rta sinf/shchi sinf</p>

<p><strong>affluent - </strong>boylar, o&#39;ziga to&#39;qlar</p>

<p><strong>famous for/renown for - </strong>... bilan mashhur/ tanilgan</p>

<p><strong>good atmosphere -</strong> yaxshi muhit</p>

<p><strong>colourful/vibrant city -</strong>&nbsp;rang-barang/gavjum shahar</p>

<p><strong>well-developed/good infrastructure -</strong> rivojlangan/yaxshi infratuzilma</p>

<p><strong>good amenities/facilities/sports facilities -</strong>&nbsp;yaxshi qulayliklar/inshootlar/sport inshootlari</p>

<p><strong>parks/gardens -</strong> parklar / bog&#39;lar</p>

<p><strong>lively markets/bars/restaurants - </strong>jonli/gavjum bozorlar/barlar/restoranlar</p>

<p><strong>great nightlife/entertainment -</strong>&nbsp;ajoyib tungi hayot / o&#39;yin-kulgi</p>

<p><strong>nice sense of community/friendly neighbours </strong>-&nbsp;yaxshi jamoat /oqibatli qo&#39;shnilar</p>

<p><strong>air pollution/vehicle emissions </strong>-&nbsp;havoning ifloslanishi/avtomobil chiqindilari</p>

<p><strong>traffic congestion/gridlock traffic at rush hour (traffic stops moving) -&nbsp;</strong>tirbandlik/ pik vaqtidagi tirbandlik (tirbandlik harakatini to&#39;xtatadi)</p>

<p><strong>densely populated/overcrowded - </strong>zich aholi, gavjum</p>


<div class="border-y border-gray-300 my-3"></div>


</div>
