<style>
p{
margin:15px 0;
}
</style>
<div id="module1" class="module w-full">
<h1 class="text-3xl font-bold text-gray-800">Apartments & Houses</h1>
<h2 class="text-2xl font-bold"><strong>Key Vocabulary</strong></h2>



<p><strong>reside/currently&nbsp;living </strong> &#8211; yashamoq/hozirda yashayotgan</p>



<p><b>located/situated&nbsp;in</b> &#8211; ….da joylashgan</p>



<p><strong>inner&nbsp;city/central&nbsp;location </strong>&#8211; ichki shahar/markaziy joylashuvi</p>



<p><b>suburbs/outskirts</b> –&nbsp;shahar tashqarisi</p>



<p><strong>rent –&nbsp;</strong>ijra turmoq</p>



<p><strong>own –&nbsp;</strong>egalik qilmoq</p>



<p><strong>born&nbsp;and&nbsp;raised&nbsp;</strong>there – o’sha yerda tug’ilgan va voyaga yetgan&nbsp;</p>



<p><b>I have lived/ resided&nbsp;there&nbsp;since&nbsp;I&nbsp;was born </b>– tug’ilganimdan beri o’sha yerda yashayman</p>



<p><strong>two-bedroom&nbsp;&nbsp;&#8211;&nbsp;</strong>ikki xonali</p>



<p><strong>multi-storied&nbsp;house</strong>&nbsp;– ko’p qavatli</p>



<p><strong>single-storey&nbsp;house –&nbsp;</strong>bir qavatli uy</p>



<p><strong>apartment&nbsp;complex –&nbsp;</strong>ko’p qavatli uy (dom)</p>



<p><strong>high-rise&nbsp;apartment –&nbsp;</strong>osmono’par bino</p>



<p><b>back&nbsp;garden/yard </b>– orqa bog’, hovli</p>



<p><b>balcony/veranda</b> &#8211;&nbsp;balkon</p>



<p><strong>nicely/simply&nbsp;decorated&nbsp;</strong>– yaxshi /oddiy bezatilgan</p>



<p><strong>nice/simple&nbsp;décor &nbsp; &#8211;&nbsp;</strong>yaxshi /oddiy bezak</p>



<p><b>ostentatious</b> &#8211;&nbsp;dabdabali</p>



<p><b>modest</b> -oddiy</p>



<p><strong>homely&nbsp;(comfortable)/cozy </strong>– qulay, shinam</p>



<p><b>spacious</b> &#8211;&nbsp;keng</p>



<p><b>cramped</b> &#8211;&nbsp;tor</p>



<p><strong>all&nbsp;the&nbsp;mod&nbsp;cons&nbsp;</strong>(modern&nbsp;appliances) – barcha zamonaviy jihozlarga ega</p>



<p><b>redecorated/renovated</b> &#8211;&nbsp;qayta ta&#8217;mirlangan/bezatilgan</p>



<p><strong>run&nbsp;down/in&nbsp;disrepair</strong> – eski. buzilgan</p>



<p><strong>vicinity/nearby</strong> &#8211; yaqin</p>



<div style="height:28px" aria-hidden="true" class="wp-block-spacer"></div>






<h3 class="text-2xl font-bold">Practice</h3>
<p><strong>Answer the questions using the following sample responses.</strong></p>



<p><strong>1.Where do you live?</strong></p>



<p>I&#8217;m currently <b>residing/living</b> with my parents in <b>two storey</b> which is located in the <b>outskirt</b> of London.</p>



<p><strong>2. How long have you lived there?</strong></p>



<p>I’ve been there 21 years as I was <b>born and raised</b> there, and also since my father works in the <b>locality</b> .</p>



<p><strong>3. What do you like about your home?</strong></p>



<p>While it&#8217;s not a flashy or <b>ostentatious</b> place, it&#8217;s nice and homely. Also, the interior is not <b>cramped</b> &#8211; it&#8217;s actually quite <b>spacious</b> , with three bedrooms , each having their own <b>en-suite</b>.</p>



<p><strong>4. </strong>What do you like most about your home?</p>



<p>What I really love is the <b>balcony</b> , which overlooks the <b>yard</b> , which has a small vegetable garden.</p>



<p><strong>5. If you could change anything about your home, what would it be?</strong></p>



<p>Given the kitchen and bathroom are looking a bit <b>run down</b> , showing their age, it&#8217;d be nice if they could be <b>renovated</b> .</p>



<h2 class="text-2xl font-bold">Additional Vocabulary</h2>



<div style="height:28px" aria-hidden="true" class="wp-block-spacer"></div>



<p><strong>isolated&nbsp;rural&nbsp;community</strong>&nbsp;&#8211; olisdagi qishloq aholisi</p>



<p><strong>detached&nbsp;house</strong>&nbsp;– yakka uy (boshqa uylarga qo’shilmagan)</p>



<p><strong>town-house</strong>&nbsp;– hovli uy</p>



<p><strong>condominium</strong>&nbsp;– yotoqxona&nbsp;</p>



<p><strong>cottage</strong>&nbsp;&#8211; kotej</p>



<p><strong>single-story&nbsp;house</strong>&nbsp;– bir qavatli uy</p>



<p><strong>old&nbsp;fashioned/tradition&nbsp;house</strong>&nbsp;– eski uslubdagi uy</p>



<p><strong>unique&nbsp;design/architectural&nbsp;style</strong>&nbsp;&#8211; noyob dizayn/arxitektura uslubi</p>



<p><strong>vegetable&nbsp;garden</strong>&nbsp;&#8211; sabzavot bog&#8217;i</p>



<p><strong>sitting/living&nbsp;room</strong>&nbsp;&#8211; mehmonxona</p>



<p><strong>en&nbsp;suite</strong>&nbsp;– vanna</p>



<p><strong>garage</strong>&nbsp;&#8211; garaj</p>



<p><strong>furnished-unfurnished</strong>&nbsp;– jihozlangan/ jihozlanmagan</p>

        
 </div>


</div>
