<style>
p{
margin:15px 0;
}
</style>
<div id="module2" class="hidden module w-full">
<h2 class="text-2xl font-bold my-3">Hometown & Neighbourhood</h2>
<p class="text-xl font-bold"></b>Key Vocabulary</b></p>

<p><strong>born and raised/bred in -</strong> ... da&nbsp;tug&#39;ilgan va o&#39;sgan / tarbiya topgan</p>

<p><strong>located/situated -</strong>&nbsp;joylashgan/joylashgan</p>

<p><strong>in the southern/northern part </strong>-&nbsp;janubiy/shimoliy qismida</p>

<p><strong>coastal city -&nbsp;</strong>qirg&#39;oq shahri, sohil bo&#39;yidagi shahar</p>

<p><strong>commercial center</strong> - tijoriy markaz, savdo markazi</p>

<p><strong>small country town -&nbsp;</strong>kichik qishloq shahri</p>

<p><strong>bustling metropolis -</strong>&nbsp;gavjum metropolis(shahar)</p>

<p><strong>metropolitan city - </strong>metropolitan shahar</p>

<p><strong>sprawling city -&nbsp;</strong>katta shahar</p>

<p><strong>residential areas- </strong>turar-joy binolari</p>

<p><strong>multicultural city/culturally diverse/cosmopolitan city -&nbsp;</strong>ko&lsquo;p madaniyatli shahar/madaniy jihatdan xilma-xil/kosmopolit shahar</p>

<p><strong>middle-class/working class - </strong>o&#39;rta sinf/shchi sinf</p>

<p><strong>affluent - </strong>boylar, o&#39;ziga to&#39;qlar</p>

<p><strong>famous for/renown for - </strong>... bilan mashhur/ tanilgan</p>

<p><strong>good atmosphere -</strong> yaxshi muhit</p>

<p><strong>colourful/vibrant city -</strong>&nbsp;rang-barang/gavjum shahar</p>

<p><strong>well-developed/good infrastructure -</strong> rivojlangan/yaxshi infratuzilma</p>

<p><strong>good amenities/facilities/sports facilities -</strong>&nbsp;yaxshi qulayliklar/inshootlar/sport inshootlari</p>

<p><strong>parks/gardens -</strong> parklar / bog&#39;lar</p>

<p><strong>lively markets/bars/restaurants - </strong>jonli/gavjum bozorlar/barlar/restoranlar</p>

<p><strong>great nightlife/entertainment -</strong>&nbsp;ajoyib tungi hayot / o&#39;yin-kulgi</p>

<p><strong>nice sense of community/friendly neighbours </strong>-&nbsp;yaxshi jamoat /oqibatli qo&#39;shnilar</p>

<p><strong>air pollution/vehicle emissions </strong>-&nbsp;havoning ifloslanishi/avtomobil chiqindilari</p>

<p><strong>traffic congestion/gridlock traffic at rush hour (traffic stops moving) -&nbsp;</strong>tirbandlik/ pik vaqtidagi tirbandlik (tirbandlik harakatini to&#39;xtatadi)</p>

<p><strong>densely populated/overcrowded - </strong>zich aholi, gavjum</p>


<div class="border-y border-gray-300 my-3"></div>
<h2 class="my-2 text-xl font-bold">Sample 1</h2>

<p><strong>1.&nbsp;&nbsp; &nbsp;Where is your hometown?</strong><br />
It&rsquo;s&nbsp; <strong>located </strong>in the&nbsp; <strong>norther/ southern part </strong>of the country in/on the coast, and we live in the&nbsp;<strong>suburbs </strong>on the outskirts of the town.<br />
&nbsp;</p>

<p><strong>2.&nbsp;&nbsp; &nbsp;What do you like about your hometown?</strong><br />
Well, while it&rsquo;s nothing special, it&rsquo;s quite well developed with <strong>good sports facilities</strong> and <strong>a peaceful&nbsp; park </strong>with lots of beautiful trees and flowers that is nice for walking a dog.<br />
&nbsp;</p>

<p><strong>3.&nbsp;&nbsp; &nbsp;Has it changed much since you were a child?</strong><br />
The most noticeable difference is the amount of traffic, which causes a lot of <strong>traffic congestion</strong> and <strong>air pollution </strong>during the<strong> rush hours</strong>.<br />
&nbsp;</p>

<h2 class="my-2 text-xl font-bold">Sample 2</h2>

<p>&nbsp;</p>

<p><strong>1.&nbsp;&nbsp; &nbsp;Can you tell me about your hometown?</strong><br />
Sure, I was born and bred in Manila, and one of <strong>the most noticible&nbsp; </strong>things about it would have to be the <strong>traffic congestion </strong>, which is often in a state of gridlock during the rush hours.</p>

<p><strong>2.&nbsp;&nbsp; &nbsp;What is the area like that you live in?</strong><br />
Probably the best way to describe it is suburbal middle-class, and even though it&rsquo;s not far from the city center, it&rsquo;s quite undeveloped in terms of <strong>modern architectures and facilities. </strong>It&rsquo;s essentially a <strong>residential working-class area.</strong></p>

<p><strong>3.&nbsp;&nbsp; &nbsp;What don&rsquo;t you like about the area you live in?</strong><br />
What&rsquo;s not really great is <strong>the level of air pollution and traffic congestion</strong>, particularly<strong> around the rush hour periods</strong>, since the city <strong>lacks a decent public transport system</strong> as in a subway.<br />
&nbsp;</p>

<p><strong>4.&nbsp;&nbsp; &nbsp;What do you like most about living there?</strong><br />
While it can be <strong>a tad boredom </strong>given it is such a small rural town, there are many great things&nbsp; going for it, such as its proximity to the beach, which is only <strong>a stone&rsquo;s throw away</strong>, and Black Mountain, which is a wonderfull get away for picnics and barbeques.<br />
&nbsp;</p>
<div class="border-y border-gray-300 my-3"></div>
<p class="text-xl font-bold my-3"><strong>Additional Vocabulary</strong></p>

<p><strong>industrial/commercial area -&nbsp;</strong>sanoat/tijorat hududi</p>

<p><strong>working-class area/city -&nbsp;</strong>&nbsp;ishchilar yashaydigan hudud/shahar</p>

<p><strong>neighbourhood/local community - </strong>mahalla/mahalliy hamjamiyat</p>

<p><strong>suburban area/residential area -</strong>&nbsp; shahar atrofi/turar-joy maydoni</p>

<p><strong>industrial city/major industries/industrialised - </strong>sanoat shahri/yirik sanoatlar/sanoatlashgan</p>

<p><strong>immigrants -&nbsp;</strong>immigrantlar</p>

<p><strong>affluent/low socio-economic area/neighbourhood - </strong>badavlat/past ijtimoiy-iqtisodiy hudud/mahalla</p>

<p><strong>locality - </strong>yashash joyi</p>

<p><strong>upmarket shops -&nbsp;</strong> yuqori darajadagi do&#39;konlar</p>

<p><strong>fashionable boutiques - </strong>zamonaviy butiklar</p>

<p><strong>public spaces/parks -&nbsp;</strong> jamoat joylari/parklar</p>

<p><strong>tourist attractions - </strong>turistik diqqatga sazovor joylar</p>

<p><strong>main tourist/scenic attraction -&nbsp;</strong>asosiy turistik/manzarali diqqatga sazovor joy</p>

<p><strong>local delicacy -&nbsp;</strong>mahalliy o&#39;ziga xoslik</p>

<p><strong>historical buildings - </strong>tarixiy obidalar</p>

<p class="text-xl font-bold my-3"><strong>Cities: &nbsp;Negatives</strong></p>

<p>&nbsp;</p>

<p><strong>-&nbsp;&nbsp; &nbsp;a lot of commuters -&nbsp;&nbsp;</strong>ko&#39;plab yo&#39;lovchilar</p>

<p><strong>-&nbsp;&nbsp; &nbsp;vandalism -&nbsp;</strong>vandalizm</p>

<p><strong>-&nbsp;&nbsp; &nbsp;homelessness&nbsp;- </strong>uysizlik</p>

<p><strong>-&nbsp;&nbsp; &nbsp;unemployment&nbsp;-&nbsp;&nbsp; &nbsp;</strong>ishsizlik</p>

<p><strong>-&nbsp;&nbsp; &nbsp;run down - </strong>notenglik</p>

<p><strong>-&nbsp;&nbsp; &nbsp;high cost of living/high property prices - </strong>yashash narxining yuqoriligi /ko&#39;chmas mulk narxlarining&nbsp;qimmaligi</p>

<p><strong>-&nbsp;&nbsp; &nbsp;homelessness and poverty -&nbsp;</strong>uysizlik va qashshoqlik</p>

<p><strong>-&nbsp;&nbsp; &nbsp;concrete jungle&nbsp;-</strong> beton o&#39;rmon</p>

<p><strong>-&nbsp;&nbsp; &nbsp;population explosion -&nbsp;</strong>aholining ko&#39;pligi</p>

<p><strong>-&nbsp;&nbsp; &nbsp;densely populated&nbsp;- </strong>aholining zich joylashuvi</p>

<p><strong>-&nbsp;&nbsp; &nbsp;a lot of litter/rubbish -&nbsp; </strong>axlat / chiqindining ko&#39;pligi</p>

<p><strong>-&nbsp;&nbsp; &nbsp;crime/dangerous at night - </strong>jinoyat/ tunda xavfli</p>

<p>&nbsp;</p>

<p class="text-xl font-bold my-3"><strong>Positives </strong></p>

<p><strong>+ good pace of life -</strong> hayotning yaxshi sur&#39;ati</p>

<p><strong>+ away from the hustle and bustle -</strong> shovqin-surondan uzoqda bo&#39;lish</p>

<p><strong>+ woodlands/green spaces - </strong>o&#39;rmonlar/yashil joylar</p>

<p><strong>+ good living conditions/well developed -</strong>&nbsp;yaxshi yashash sharoitlari/yaxshi rivojlangan</p>

<p><strong>+ good amenities/facilities/infrastructure -&nbsp;</strong> yaxshi qulayliklar/infratuzilma</p>

<p><strong>+ good public transportation -&nbsp;</strong>yaxshi jamoat transporti</p>

<p><strong>+ nice sense of community - y</strong>axshi jamiyat tuyg&#39;usi</p>

<p><strong>+ sports facilities -&nbsp;</strong>sport inshootlari</p>

<p><strong>+ parks/gardens -</strong> bog&#39;lar, parklar</p>

<p><strong>+ touristy - </strong>turistik</p>

<p><strong>+ job opportunities -&nbsp;</strong>ish imkoniyatlari<br />
&nbsp;</p>

</div>
