
<div id="module1" class="module w-full">
<h2 style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:1.0pt;font-size:48px;font-family:"Georgia",serif;line-height:36.9pt;'>&nbsp;</h2>
<h2 style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:1.0pt;font-size:48px;font-family:"Georgia",serif;text-align:center;line-height:36.9pt;'>Houses&nbsp;&amp; Apartments</h2>
<p style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Georgia",serif;'><strong><span style="font-size:13px;">&nbsp;</span></strong></p>
<p style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Georgia",serif;'><strong><span style="font-size:13px;">&nbsp;</span></strong></p>
<p style='margin-top:13.75pt;margin-right:0in;margin-bottom:.0001pt;margin-left:17.55pt;font-size:19px;font-family:"Arial Black",sans-serif;'>&nbsp; &nbsp; Key Vocabulary</p>
<p style='margin-top:9.75pt;margin-right:0in;margin-bottom:.0001pt;margin-left:38.9pt;text-indent:0in;font-size:15px;font-family:"Georgia",serif;'><strong><span style="font-size:16px;">reside</span></strong><span style="font-size:16px;">/currently&nbsp;living - yashamoq/hozirda yashayotgan</span></p>
<p style='margin-top:2.0pt;margin-right:0in;margin-bottom:.0001pt;margin-left:38.9pt;text-indent:0in;font-size:15px;font-family:"Georgia",serif;line-height:14.7pt;'><span style="font-size:16px;">located/situated&nbsp;in - &hellip;.da joylashgan</span></p>
<p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:38.9pt;text-indent:0in;font-size:15px;font-family:"Georgia",serif;line-height:14.7pt;'><strong><span style="font-size:16px;">inner&nbsp;city</span></strong><span style="font-size:16px;">/central&nbsp;location - shahar ichki/markaziy joylashuvi</span></p>
<p style='margin-top:.05pt;margin-right:0in;margin-bottom:.0001pt;margin-left:38.9pt;text-indent:0in;font-size:16px;font-family:"Georgia",serif;font-weight:bold;line-height:14.65pt;'>suburbs/outskirts &ndash; <span style="font-weight:normal;">shahar tashqarisi</span></p>
<p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:38.9pt;text-indent:0in;font-size:15px;font-family:"Georgia",serif;line-height:14.65pt;'><strong><span style="font-size:16px;">rent &ndash;&nbsp;</span></strong><span style="font-size:16px;">ijra turmoq</span></p>
<p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:38.9pt;text-indent:0in;font-size:15px;font-family:"Georgia",serif;line-height:14.65pt;'><strong><span style="font-size:16px;">own &ndash;&nbsp;</span></strong><span style="font-size:16px;">egalik qilmoq</span></p>
<p style='margin-top:.05pt;margin-right:0in;margin-bottom:.0001pt;margin-left:38.9pt;text-indent:0in;font-size:15px;font-family:"Georgia",serif;line-height:14.65pt;'><strong><span style="font-size:16px;">born&nbsp;and&nbsp;raised&nbsp;</span></strong><span style="font-size:16px;">there &ndash; o&rsquo;sha yerda tug&rsquo;ilgan va voyaga yetgan&nbsp;</span></p>
<p style='margin-top:.05pt;margin-right:0in;margin-bottom:.0001pt;margin-left:38.9pt;text-indent:0in;font-size:15px;font-family:"Georgia",serif;line-height:14.65pt;'><span style="font-size:16px;">I<strong>&nbsp;</strong>have<strong>&nbsp;</strong>lived/ resided&nbsp;there&nbsp;since&nbsp;I&nbsp;was born &ndash; tug&rsquo;ilganimdan beri o&rsquo;sha yerda yashayman</span></p>
<p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:38.9pt;text-indent:0in;font-size:15px;font-family:"Georgia",serif;line-height:14.65pt;'><span style="font-size:16px;">two-bedroom&nbsp;<strong>&nbsp;-&nbsp;</strong>ikki xonali</span></p>
<p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:38.9pt;text-indent:0in;font-size:15px;font-family:"Georgia",serif;line-height:14.65pt;'><strong><span style="font-size:16px;">multi-storied&nbsp;house</span></strong><span style="font-size:16px;">&nbsp;&ndash; ko&rsquo;p qavatli</span></p>
<p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:38.9pt;text-indent:0in;font-size:15px;font-family:"Georgia",serif;line-height:14.65pt;'><strong><span style="font-size:16px;">single-storey&nbsp;house &ndash;&nbsp;</span></strong><span style="font-size:16px;">bir qavatli uy</span></p>
<p style='margin-top:.05pt;margin-right:0in;margin-bottom:.0001pt;margin-left:38.9pt;text-indent:0in;font-size:15px;font-family:"Georgia",serif;line-height:14.65pt;'><strong><span style="font-size:16px;">apartment&nbsp;complex &ndash;&nbsp;</span></strong><span style="font-size:16px;">ko&rsquo;p qavatli uy (dom)</span></p>
<p style='margin-top:.05pt;margin-right:0in;margin-bottom:.0001pt;margin-left:38.9pt;text-indent:0in;font-size:15px;font-family:"Georgia",serif;line-height:14.65pt;'><strong><span style="font-size:16px;">high-rise&nbsp;apartment &ndash;&nbsp;</span></strong><span style="font-size:16px;">osmono&rsquo;par bino</span></p>
<p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:38.9pt;text-indent:0in;font-size:15px;font-family:"Georgia",serif;line-height:14.65pt;'><span style="font-size:16px;">back&nbsp;garden/yard &ndash; orqa bog&rsquo;, hovli</span></p>
<p style='margin-top:.1pt;margin-right:0in;margin-bottom:.0001pt;margin-left:38.9pt;text-indent:0in;font-size:16px;font-family:"Georgia",serif;font-weight:bold;line-height:14.65pt;'>balcony/veranda - <span style="font-weight:normal;">balkon</span></p>
<p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:38.9pt;text-indent:0in;font-size:15px;font-family:"Georgia",serif;line-height:14.65pt;'><span style="font-size:16px;">nicely/simply&nbsp;<strong>decorated&nbsp;</strong>&ndash; yaxshi /oddiy bezatilgan</span></p>
<p style='margin-top:.05pt;margin-right:0in;margin-bottom:.0001pt;margin-left:38.9pt;text-indent:0in;font-size:15px;font-family:"Georgia",serif;line-height:14.65pt;'><span style="font-size:16px;">nice/simple&nbsp;<strong>d&eacute;cor &nbsp; -&nbsp;</strong>yaxshi /oddiy bezak</span></p>
<p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:38.9pt;text-indent:0in;font-size:16px;font-family:"Georgia",serif;font-weight:bold;line-height:14.65pt;'>ostentatious - <span style="font-weight:normal;">dabdabali</span></p>
<p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:38.9pt;text-indent:0in;font-size:16px;font-family:"Georgia",serif;font-weight:bold;line-height:14.65pt;'>modest -<span style="font-weight:normal;">oddiy</span></p>
<p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:38.9pt;text-indent:0in;font-size:15px;font-family:"Georgia",serif;line-height:14.65pt;'><strong><span style="font-size:16px;">homely&nbsp;</span></strong><span style="font-size:16px;">(comfortable)/cozy &ndash; qulay, shinam</span></p>
<p style='margin-top:.05pt;margin-right:0in;margin-bottom:.0001pt;margin-left:38.9pt;text-indent:0in;font-size:16px;font-family:"Georgia",serif;font-weight:bold;line-height:14.65pt;'>spacious - <span style="font-weight:normal;">keng</span></p>
<p style='margin-top:.05pt;margin-right:0in;margin-bottom:.0001pt;margin-left:38.9pt;text-indent:0in;font-size:16px;font-family:"Georgia",serif;font-weight:bold;line-height:14.65pt;'>cramped - <span style="font-weight:normal;">tor</span></p>
<p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:38.9pt;text-indent:0in;font-size:15px;font-family:"Georgia",serif;line-height:14.65pt;'><span style="font-size:16px;">all&nbsp;the&nbsp;<strong>mod&nbsp;cons&nbsp;</strong>(modern&nbsp;appliances) &ndash; barcha zamonaviy jihozlarga ega</span></p>
<p style='margin-top:.05pt;margin-right:0in;margin-bottom:.0001pt;margin-left:38.9pt;text-indent:0in;font-size:16px;font-family:"Georgia",serif;font-weight:bold;line-height:14.65pt;'>redecorated<span style="font-weight:normal;">/</span>renovated - <span style="font-weight:normal;">qayta ta&apos;mirlangan/bezatilgan</span></p>
<p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:38.9pt;text-indent:0in;font-size:15px;font-family:"Georgia",serif;line-height:14.65pt;'><strong><span style="font-size:16px;">run&nbsp;down/</span></strong><span style="font-size:16px;">in&nbsp;disrepair &ndash; eski. buzilgan</span></p>
<p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:38.9pt;text-indent:0in;font-size:15px;font-family:"Georgia",serif;line-height:14.65pt;'><strong><span style="font-size:16px;">vicinity/</span></strong><span style="font-size:16px;">nearby - yaqin</span></p>
<p style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Georgia",serif;margin-top:.1pt;'>&nbsp;</p>
<p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:17.55pt;font-size:19px;font-family:"Arial Black",sans-serif;'>Vocabulary&nbsp;Builder</p>
<p style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Georgia",serif;margin-top:9.85pt;margin-right:0in;margin-left:17.55pt;'>A.&nbsp;Match&nbsp;the&nbsp;words&nbsp;to&nbsp;a&nbsp;synonym,&nbsp;antonym,&nbsp;or&nbsp;idiom.</p>
<p style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Georgia",serif;margin-top:.15pt;'><span style="font-size:14px;">&nbsp;</span></p>
<ol style="list-style-type: decimal;">
    <li><span style="font-size:16px;">single&nbsp;storey&nbsp;house&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;reside</span></li>
    <li><span style="font-size:16px;">ostentatious&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;spacious</span></li>
    <li><span style="font-size:16px;">roomy&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;bought</span></li>
    <li><span style="font-size:16px;">inner-city&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;run-down</span></li>
    <li><span style="font-size:16px;">staying&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;washing&nbsp;machine</span></li>
    <li><span style="font-size:16px;">homely&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;veranda</span></li>
    <li><span style="font-size:16px;">own&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;simple</span></li>
    <li><span style="font-size:16px;">balcony&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;suburbs</span></li>
    <li><span style="font-size:16px;">redecorated&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;cozy</span></li>
    <li><span style="font-size:16px;">mod&nbsp;cons&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;high-rise&nbsp;apartment</span></li>
</ol>
<p><span style='font-size:16px;font-family:"Georgia",serif;'><br>&nbsp;</span></p>
<p style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Georgia",serif;margin-top:.5pt;'><span style="font-size:17px;">&nbsp;</span></p>
<table style="border: none;margin-left: 15.45pt;border-collapse:collapse;">
    <tbody>
        <tr>
            <td style="width: 173pt;padding: 0in;height: 19.65pt;vertical-align: top;">
                <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:2.5pt;font-size:15px;font-family:"Georgia",serif;'><span style="font-size:16px;">B.&nbsp;Circle&nbsp;the&nbsp;odd&nbsp;word/s out.</span></p>
            </td>
            <td colspan="2" style="width: 271.4pt;padding: 0in;height: 19.65pt;vertical-align: top;">
                <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;font-size:15px;font-family:"Georgia",serif;'><span style='font-family:  "Times New Roman",serif;'>&nbsp;</span></p>
            </td>
        </tr>
        <tr>
            <td style="width: 173pt;padding: 0in;height: 23pt;vertical-align: top;">
                <p style='margin-top:6.0pt;margin-right:0in;margin-bottom:.0001pt;margin-left:20.5pt;font-size:15px;font-family:"Georgia",serif;'><span style="font-size:16px;">1.&nbsp;live</span></p>
            </td>
            <td style="width: 133.6pt;padding: 0in;height: 23pt;vertical-align: top;">
                <p style='margin-top:6.0pt;margin-right:0in;margin-bottom:.0001pt;margin-left:9.5pt;font-size:15px;font-family:"Georgia",serif;'><span style="font-size:16px;">born&nbsp;and&nbsp;raised</span></p>
            </td>
            <td style="width: 137.8pt;padding: 0in;height: 23pt;vertical-align: top;">
                <p style='margin-top:6.0pt;margin-right:0in;margin-bottom:.0001pt;margin-left:19.9pt;font-size:15px;font-family:"Georgia",serif;'><span style="font-size:16px;">reside</span></p>
            </td>
        </tr>
        <tr>
            <td style="width: 173pt;padding: 0in;height: 20.35pt;vertical-align: top;">
                <p style='margin-top:3.35pt;margin-right:0in;margin-bottom:.0001pt;margin-left:20.5pt;font-size:15px;font-family:"Georgia",serif;'><span style="font-size:16px;">2.&nbsp;bought</span></p>
            </td>
            <td style="width: 133.6pt;padding: 0in;height: 20.35pt;vertical-align: top;">
                <p style='margin-top:3.35pt;margin-right:0in;margin-bottom:.0001pt;margin-left:9.5pt;font-size:15px;font-family:"Georgia",serif;'><span style="font-size:16px;">rent</span></p>
            </td>
            <td style="width: 137.8pt;padding: 0in;height: 20.35pt;vertical-align: top;">
                <p style='margin-top:3.35pt;margin-right:0in;margin-bottom:.0001pt;margin-left:19.9pt;font-size:15px;font-family:"Georgia",serif;'><span style="font-size:16px;">own</span></p>
            </td>
        </tr>
        <tr>
            <td style="width: 173pt;padding: 0in;height: 20.45pt;vertical-align: top;">
                <p style='margin-top:3.35pt;margin-right:0in;margin-bottom:.0001pt;margin-left:20.5pt;font-size:15px;font-family:"Georgia",serif;'><span style="font-size:16px;">3.&nbsp;apartment</span></p>
            </td>
            <td style="width: 133.6pt;padding: 0in;height: 20.45pt;vertical-align: top;">
                <p style='margin-top:3.35pt;margin-right:0in;margin-bottom:.0001pt;margin-left:9.5pt;font-size:15px;font-family:"Georgia",serif;'><span style="font-size:16px;">multi-storied&nbsp;house</span></p>
            </td>
            <td style="width: 137.8pt;padding: 0in;height: 20.45pt;vertical-align: top;">
                <p style='margin-top:3.35pt;margin-right:0in;margin-bottom:.0001pt;margin-left:19.9pt;font-size:15px;font-family:"Georgia",serif;'><span style="font-size:16px;">single-storey</span></p>
            </td>
        </tr>
        <tr>
            <td style="width: 173pt;padding: 0in;height: 20.45pt;vertical-align: top;">
                <p style='margin-top:3.45pt;margin-right:0in;margin-bottom:.0001pt;margin-left:20.5pt;font-size:15px;font-family:"Georgia",serif;'><span style="font-size:16px;">4.&nbsp;inner&nbsp;city</span></p>
            </td>
            <td style="width: 133.6pt;padding: 0in;height: 20.45pt;vertical-align: top;">
                <p style='margin-top:3.45pt;margin-right:0in;margin-bottom:.0001pt;margin-left:9.5pt;font-size:15px;font-family:"Georgia",serif;'><span style="font-size:16px;">suburbs</span></p>
            </td>
            <td style="width: 137.8pt;padding: 0in;height: 20.45pt;vertical-align: top;">
                <p style='margin-top:3.45pt;margin-right:0in;margin-bottom:.0001pt;margin-left:19.9pt;font-size:15px;font-family:"Georgia",serif;'><span style="font-size:16px;">commercial&nbsp;center</span></p>
            </td>
        </tr>
        <tr>
            <td style="width: 173pt;padding: 0in;height: 20.45pt;vertical-align: top;">
                <p style='margin-top:3.35pt;margin-right:0in;margin-bottom:.0001pt;margin-left:20.5pt;font-size:15px;font-family:"Georgia",serif;'><span style="font-size:16px;">5.&nbsp;noisy</span></p>
            </td>
            <td style="width: 133.6pt;padding: 0in;height: 20.45pt;vertical-align: top;">
                <p style='margin-top:3.35pt;margin-right:0in;margin-bottom:.0001pt;margin-left:9.5pt;font-size:15px;font-family:"Georgia",serif;'><span style="font-size:16px;">limited&nbsp;space</span></p>
            </td>
            <td style="width: 137.8pt;padding: 0in;height: 20.45pt;vertical-align: top;">
                <p style='margin-top:3.35pt;margin-right:0in;margin-bottom:.0001pt;margin-left:19.9pt;font-size:15px;font-family:"Georgia",serif;'><span style="font-size:16px;">good&nbsp;security</span></p>
            </td>
        </tr>
        <tr>
            <td style="width: 173pt;padding: 0in;height: 20.45pt;vertical-align: top;">
                <p style='margin-top:3.45pt;margin-right:0in;margin-bottom:.0001pt;margin-left:20.5pt;font-size:15px;font-family:"Georgia",serif;'><span style="font-size:16px;">6.&nbsp;all&nbsp;the&nbsp;mod&nbsp;cons</span></p>
            </td>
            <td style="width: 133.6pt;padding: 0in;height: 20.45pt;vertical-align: top;">
                <p style='margin-top:3.45pt;margin-right:0in;margin-bottom:.0001pt;margin-left:9.5pt;font-size:15px;font-family:"Georgia",serif;'><span style="font-size:16px;">unique&nbsp;design</span></p>
            </td>
            <td style="width: 137.8pt;padding: 0in;height: 20.45pt;vertical-align: top;">
                <p style='margin-top:3.45pt;margin-right:0in;margin-bottom:.0001pt;margin-left:19.9pt;font-size:15px;font-family:"Georgia",serif;'><span style="font-size:16px;">cold&nbsp;and&nbsp;draughty</span></p>
            </td>
        </tr>
        <tr>
            <td style="width: 173pt;padding: 0in;height: 20.45pt;vertical-align: top;">
                <p style='margin-top:3.4pt;margin-right:0in;margin-bottom:.0001pt;margin-left:20.5pt;font-size:15px;font-family:"Georgia",serif;'><span style="font-size:16px;">7.&nbsp;cramped</span></p>
            </td>
            <td style="width: 133.6pt;padding: 0in;height: 20.45pt;vertical-align: top;">
                <p style='margin-top:3.4pt;margin-right:0in;margin-bottom:.0001pt;margin-left:9.5pt;font-size:15px;font-family:"Georgia",serif;'><span style="font-size:16px;">good&nbsp;facilities</span></p>
            </td>
            <td style="width: 137.8pt;padding: 0in;height: 20.45pt;vertical-align: top;">
                <p style='margin-top:3.4pt;margin-right:0in;margin-bottom:.0001pt;margin-left:19.9pt;font-size:15px;font-family:"Georgia",serif;'><span style="font-size:16px;">power-cuts</span></p>
            </td>
        </tr>
        <tr>
            <td style="width: 173pt;padding: 0in;height: 20.45pt;vertical-align: top;">
                <p style='margin-top:3.45pt;margin-right:0in;margin-bottom:.0001pt;margin-left:20.5pt;font-size:15px;font-family:"Georgia",serif;'><span style="font-size:16px;">8.&nbsp;cut&nbsp;off&nbsp;from&nbsp;neighbours</span></p>
            </td>
            <td style="width: 133.6pt;padding: 0in;height: 20.45pt;vertical-align: top;">
                <p style='margin-top:3.45pt;margin-right:0in;margin-bottom:.0001pt;margin-left:9.5pt;font-size:15px;font-family:"Georgia",serif;'><span style="font-size:16px;">panoramic&nbsp;views</span></p>
            </td>
            <td style="width: 137.8pt;padding: 0in;height: 20.45pt;vertical-align: top;">
                <p style='margin-top:3.45pt;margin-right:0in;margin-bottom:.0001pt;margin-left:19.9pt;font-size:15px;font-family:"Georgia",serif;'><span style="font-size:16px;">close-knit&nbsp;community</span></p>
            </td>
        </tr>
        <tr>
            <td style="width: 173pt;padding: 0in;height: 20.45pt;vertical-align: top;">
                <p style='margin-top:3.35pt;margin-right:0in;margin-bottom:.0001pt;margin-left:20.5pt;font-size:15px;font-family:"Georgia",serif;'><span style="font-size:16px;">9.&nbsp;back&nbsp;garden</span></p>
            </td>
            <td style="width: 133.6pt;padding: 0in;height: 20.45pt;vertical-align: top;">
                <p style='margin-top:3.35pt;margin-right:0in;margin-bottom:.0001pt;margin-left:9.5pt;font-size:15px;font-family:"Georgia",serif;'><span style="font-size:16px;">balcony</span></p>
            </td>
            <td style="width: 137.8pt;padding: 0in;height: 20.45pt;vertical-align: top;">
                <p style='margin-top:3.35pt;margin-right:0in;margin-bottom:.0001pt;margin-left:19.9pt;font-size:15px;font-family:"Georgia",serif;'><span style="font-size:16px;">yard</span></p>
            </td>
        </tr>
        <tr>
            <td style="width: 173pt;padding: 0in;height: 17.05pt;vertical-align: top;">
                <p style='margin-top:3.45pt;margin-right:0in;margin-bottom:.0001pt;margin-left:20.5pt;font-size:15px;font-family:"Georgia",serif;line-height:12.65pt;'><span style="font-size:16px;">10.&nbsp;simple</span></p>
            </td>
            <td style="width: 133.6pt;padding: 0in;height: 17.05pt;vertical-align: top;">
                <p style='margin-top:3.45pt;margin-right:0in;margin-bottom:.0001pt;margin-left:9.5pt;font-size:15px;font-family:"Georgia",serif;line-height:12.65pt;'><span style="font-size:16px;">luxurious</span></p>
            </td>
            <td style="width: 137.8pt;padding: 0in;height: 17.05pt;vertical-align: top;">
                <p style='margin-top:3.45pt;margin-right:0in;margin-bottom:.0001pt;margin-left:19.9pt;font-size:15px;font-family:"Georgia",serif;line-height:12.65pt;'><span style="font-size:16px;">ostentatious</span></p>
            </td>
        </tr>
    </tbody>
</table>
<p style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Georgia",serif;'><span style="font-size:13px;">&nbsp;</span></p>
<p style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Georgia",serif;'><span style="font-size:13px;">&nbsp;</span></p>
<p style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Georgia",serif;margin-top:5.0pt;margin-right:44.55pt;margin-left:35.55pt;text-align:justify;text-indent:-.25in;line-height:115%;'>C.&nbsp;Fill in the gaps with the correct word from the <strong>key vocabulary above</strong>, circle the&nbsp;correct word in <strong>bold</strong>, and then answer the questions, using the structure provided&nbsp;but&nbsp;with&nbsp;information&nbsp;that is&nbsp;true&nbsp;for&nbsp;you.</p>
<p style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Georgia",serif;'><span style="font-size:17px;">&nbsp;</span></p>
<div style='margin:0in;margin-bottom:.0001pt;font-size:15px;font-family:"Georgia",serif;'>
    <ol style="margin-bottom:0in;list-style-type: decimal;">
        <li style='margin:0in;margin-bottom:.0001pt;font-size:15px;font-family:"Georgia",serif;'>Where&nbsp;do&nbsp;you&nbsp;live?</li>
    </ol>
</div>
<p style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Georgia",serif;margin-top:2.1pt;margin-right:0in;margin-left:53.55pt;'>I&rsquo;m&nbsp;currently<u><span style='font-family:"Times New Roman",serif;'>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span></u>with&nbsp;my&nbsp;parents&nbsp;<strong>in/on&nbsp;</strong>a&nbsp;two<u>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</u></p>
<p style='margin:0in;margin-bottom:.0001pt;font-size:15px;font-family:"Georgia",serif;margin-top:1.0pt;margin-right:0in;margin-left:53.55pt;'><u><span style="font-size:16px;">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span></u><span style="font-size:16px;">,&nbsp;which&nbsp;is&nbsp;located&nbsp;<strong>in/on&nbsp;</strong>the<u>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</u><strong>of/at&nbsp;</strong>London.</span></p>
<p style='margin:0in;margin-bottom:.0001pt;font-size:15px;font-family:"Georgia",serif;margin-top:1.1pt;margin-right:0in;margin-left:53.55pt;'><strong><span style="font-size:12px;">(short&nbsp;answer&nbsp;+&nbsp;explanation)</span></strong></p>
<p style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Georgia",serif;margin-top:.1pt;'><strong><span style="font-size:18px;">&nbsp;</span></strong></p>
<div style='margin:0in;margin-bottom:.0001pt;font-size:15px;font-family:"Georgia",serif;'>
    <ol style="margin-bottom:0in;list-style-type: undefined;">
        <li style='margin:0in;margin-bottom:.0001pt;font-size:15px;font-family:"Georgia",serif;'>How&nbsp;long&nbsp;have&nbsp;you&nbsp;lived&nbsp;there?</li>
    </ol>
</div>
<p style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Georgia",serif;margin-top:2.05pt;margin-right:0in;margin-left:53.55pt;'>I&rsquo;ve&nbsp;been&nbsp;there&nbsp;21&nbsp;years&nbsp;as&nbsp;I was<u><span style='font-family:"Times New Roman",serif;'>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span></u>there, and&nbsp;also&nbsp;since&nbsp;my</p>
<p style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Georgia",serif;margin-top:1.15pt;margin-right:0in;margin-left:53.55pt;'>father&nbsp;works&nbsp;in&nbsp;the<u>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</u>.</p>
<p style='margin:0in;margin-bottom:.0001pt;font-size:15px;font-family:"Georgia",serif;margin-top:1.0pt;margin-right:0in;margin-left:53.55pt;'><strong><span style="font-size:12px;">(short&nbsp;answer&nbsp;+&nbsp;reason&nbsp;+&nbsp;explanation)</span></strong></p>
<p style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Georgia",serif;margin-top:.2pt;'><strong><span style="font-size:18px;">&nbsp;</span></strong></p>
<div style='margin:0in;margin-bottom:.0001pt;font-size:15px;font-family:"Georgia",serif;'>
    <ol style="margin-bottom:0in;list-style-type: undefined;">
        <li style='margin:0in;margin-bottom:.0001pt;font-size:15px;font-family:"Georgia",serif;'>What&nbsp;do&nbsp;you&nbsp;like&nbsp;about&nbsp;your&nbsp;home?</li>
    </ol>
</div>
<p style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Georgia",serif;margin-top:2.05pt;margin-right:0in;margin-left:53.55pt;'>While&nbsp;it&rsquo;s&nbsp;not&nbsp;<strong>a/the&nbsp;</strong>flashy&nbsp;or<u><span style='font-family:"Times New Roman",serif;'>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span></u>place, it&rsquo;s&nbsp;nice&nbsp;and</p>
<p style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Georgia",serif;margin-top:1.05pt;margin-right:0in;margin-left:53.55pt;'><u>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</u>.&nbsp;Also,&nbsp;the&nbsp;interior&nbsp;is&nbsp;not&nbsp;<strong>too/to&nbsp;</strong>cramped -&nbsp;it&rsquo;s&nbsp;actually&nbsp;quite</p>
<p style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Georgia",serif;margin-top:1.15pt;margin-right:0in;margin-left:53.55pt;'><u>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</u>,&nbsp;with three<u>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</u>,&nbsp;each&nbsp;having their&nbsp;own en-suite.</p>
<p style='margin:0in;margin-bottom:.0001pt;font-size:15px;font-family:"Georgia",serif;margin-top:1.0pt;margin-right:0in;margin-left:53.55pt;'><strong><span style="font-size:12px;">(contrast&nbsp;two&nbsp;answers&nbsp;+&nbsp;reason&nbsp;+&nbsp;explanation)</span></strong></p>
<p style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Georgia",serif;margin-top:.2pt;'><strong><span style="font-size:18px;">&nbsp;</span></strong></p>
<div style='margin:0in;margin-bottom:.0001pt;font-size:15px;font-family:"Georgia",serif;'>
    <ol style="margin-bottom:0in;list-style-type: undefined;">
        <li style='margin:0in;margin-bottom:.0001pt;font-size:15px;font-family:"Georgia",serif;'>What&nbsp;do&nbsp;you&nbsp;like&nbsp;most&nbsp;about&nbsp;your&nbsp;home?</li>
    </ol>
</div>
<p style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Georgia",serif;margin-top:2.1pt;margin-right:0in;margin-left:53.55pt;'>What&nbsp;I&nbsp;really&nbsp;love&nbsp;is&nbsp;the<u>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</u>,&nbsp;which&nbsp;overlooks&nbsp;the</p>
<p style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Georgia",serif;margin-top:1.0pt;margin-right:0in;margin-left:53.55pt;'><u>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</u>,&nbsp;which&nbsp;has&nbsp;<strong>a/the&nbsp;</strong>small&nbsp;vegetable&nbsp;garden.</p>
<p style='margin:0in;margin-bottom:.0001pt;font-size:15px;font-family:"Georgia",serif;margin-top:1.15pt;margin-right:0in;margin-left:53.55pt;'><strong><span style="font-size:12px;">(&ldquo;What&nbsp;I&nbsp;particularly/especially/really/most&nbsp;enjoy&rdquo; +&nbsp;reasons&nbsp;+&nbsp;examples)</span></strong></p>
<p style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Georgia",serif;margin-top:.2pt;'><strong><span style="font-size:18px;">&nbsp;</span></strong></p>
<div style='margin:0in;margin-bottom:.0001pt;font-size:15px;font-family:"Georgia",serif;'>
    <ol style="margin-bottom:0in;list-style-type: undefined;">
        <li style='margin:0in;margin-bottom:.0001pt;font-size:15px;font-family:"Georgia",serif;'><strong><span style="line-height:110%;font-size:16px;">If you could change anything about your home, what would it be?&nbsp;</span></strong><span style="line-height:110%;font-size:16px;">Given&nbsp;the&nbsp;kitchen&nbsp;and&nbsp;bathroom&nbsp;are&nbsp;looking&nbsp;a&nbsp;bit&nbsp;run<u>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</u>, showing&nbsp;their&nbsp;age, it&rsquo;d&nbsp;be&nbsp;nice&nbsp;if&nbsp;they&nbsp;could&nbsp;be</span><u><span style="line-height:110%;font-size:16px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span></u><span style="line-height:110%;">.</span></li>
    </ol>
</div>
<p style='margin:0in;margin-bottom:.0001pt;font-size:15px;font-family:"Georgia",serif;margin-left:53.55pt;line-height:9.85pt;'><strong><span style="font-size:12px;">(reason&nbsp;+&nbsp;short&nbsp;answer)</span></strong></p>
<p><strong><span style='font-size:12px;font-family:"Georgia",serif;'><br>&nbsp;</span></strong></p>
<p style='margin-top:5.05pt;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;font-size:19px;font-family:"Arial Black",sans-serif;'>&nbsp; &nbsp; &nbsp;Additional&nbsp;Vocabulary</p>
<p style='margin-top:12.75pt;margin-right:0in;margin-bottom:.0001pt;margin-left:27.4pt;text-indent:0in;font-size:15px;font-family:"Georgia",serif;line-height:12.25pt;'><strong><span style='font-size:16px;font-family:"Times New Roman",serif;'>isolated&nbsp;rural&nbsp;community</span></strong><span style='font-size:16px;font-family:"Times New Roman",serif;'>&nbsp;- olisdagi qishloq aholisi</span></p>
<p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:27.4pt;text-indent:0in;font-size:15px;font-family:"Georgia",serif;line-height:12.25pt;'><strong><span style='font-size:16px;font-family:"Times New Roman",serif;'>detached&nbsp;house</span></strong><span style='font-size:16px;font-family:"Times New Roman",serif;'>&nbsp;&ndash; yakka uy (boshqa uylarga qo&rsquo;shilmagan)</span></p>
<p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:27.4pt;text-indent:0in;font-size:15px;font-family:"Georgia",serif;line-height:12.25pt;'><strong><span style='font-size:16px;font-family:"Times New Roman",serif;'>town-house</span></strong><span style='font-size:16px;font-family:"Times New Roman",serif;'>&nbsp;&ndash; hovli uy</span></p>
<p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:27.4pt;text-indent:0in;font-size:15px;font-family:"Georgia",serif;line-height:12.25pt;'><strong><span style='font-size:16px;font-family:"Times New Roman",serif;'>condominium</span></strong><span style='font-size:16px;font-family:"Times New Roman",serif;'>&nbsp;&ndash; yotoqxona&nbsp;</span></p>
<p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:27.4pt;text-indent:0in;font-size:15px;font-family:"Georgia",serif;line-height:12.25pt;'><strong><span style='font-size:16px;font-family:"Times New Roman",serif;'>cottage</span></strong><span style='font-size:16px;font-family:"Times New Roman",serif;'>&nbsp;- kotej</span></p>
<p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:27.4pt;text-indent:0in;font-size:15px;font-family:"Georgia",serif;line-height:12.25pt;'><strong><span style='font-size:16px;font-family:"Times New Roman",serif;'>single-story&nbsp;house</span></strong><span style='font-size:16px;font-family:"Times New Roman",serif;'>&nbsp;&ndash; bir qavatli uy</span></p>
<p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:27.4pt;text-indent:0in;font-size:15px;font-family:"Georgia",serif;line-height:12.25pt;'><strong><span style='font-size:16px;font-family:"Times New Roman",serif;'>old&nbsp;fashioned/tradition&nbsp;house</span></strong><span style='font-size:16px;font-family:"Times New Roman",serif;'>&nbsp;&ndash; eski uslubdagi uy</span></p>
<p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:27.4pt;text-indent:0in;font-size:15px;font-family:"Georgia",serif;line-height:12.25pt;'><strong><span style='font-size:16px;font-family:"Times New Roman",serif;'>unique&nbsp;design/architectural&nbsp;style</span></strong><span style='font-size:16px;font-family:"Times New Roman",serif;'>&nbsp;- noyob dizayn/arxitektura uslubi</span></p>
<p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:27.4pt;text-indent:0in;font-size:15px;font-family:"Georgia",serif;line-height:12.25pt;'><strong><span style='font-size:16px;font-family:"Times New Roman",serif;'>vegetable&nbsp;garden</span></strong><span style='font-size:16px;font-family:"Times New Roman",serif;'>&nbsp;- sabzavot bog&apos;i</span></p>
<p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:27.4pt;text-indent:0in;font-size:15px;font-family:"Georgia",serif;'><strong><span style='font-size:16px;font-family:"Times New Roman",serif;'>sitting/living&nbsp;room</span></strong><span style='font-size:16px;font-family:"Times New Roman",serif;'>&nbsp;- mehmonxona</span></p>
<p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:27.4pt;text-indent:0in;font-size:15px;font-family:"Georgia",serif;line-height:12.25pt;'><strong><span style='font-size:16px;font-family:"Times New Roman",serif;'>en&nbsp;suite</span></strong><span style='font-size:16px;font-family:"Times New Roman",serif;'>&nbsp;&ndash; vanna</span></p>
<p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:27.4pt;text-indent:0in;font-size:15px;font-family:"Georgia",serif;line-height:12.25pt;'><strong><span style='font-size:16px;font-family:"Times New Roman",serif;'>garage</span></strong><span style='font-size:16px;font-family:"Times New Roman",serif;'>&nbsp;- garaj</span></p>
<p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:27.4pt;text-indent:0in;font-size:15px;font-family:"Georgia",serif;'><strong><span style='font-size:16px;font-family:"Times New Roman",serif;'>furnished-unfurnished</span></strong><span style='font-size:16px;font-family:"Times New Roman",serif;'>&nbsp;&ndash; jihozlangan/ jihozlanmagan</span></p>
<p style='margin:0in;margin-bottom:.0001pt;font-size:15px;font-family:"Georgia",serif;margin-top:9.75pt;margin-right:0in;margin-left:17.55pt;line-height:12.5pt;'><strong><span style="font-size:21px;">&nbsp;</span></strong></p>
<p style='margin:0in;margin-bottom:.0001pt;font-size:15px;font-family:"Georgia",serif;margin-top:9.75pt;margin-right:0in;margin-left:17.55pt;line-height:12.5pt;'><strong><span style="font-size:21px;">Apartments:&nbsp;Positives&nbsp;&amp; Negatives</span></strong></p>
<p style='margin:0in;margin-bottom:.0001pt;font-size:15px;font-family:"Georgia",serif;margin-top:9.75pt;margin-right:0in;margin-left:17.55pt;line-height:12.5pt;'><strong>&nbsp;</strong></p>
<ul style="list-style-type: undefined;margin-left:16.55px;">
    <li><strong><span style="font-size:12.0pt;;">limited&nbsp;space/cramped</span></strong><span style='font-family:"Times New Roman",serif;font-size:16px;'>&nbsp;&ndash; tor joy</span></li>
    <li><strong><span style='font-family:"Times New Roman",serif;font-size:16px;'>cut&nbsp;off&nbsp;from&nbsp;neighbours&nbsp;&ndash;&nbsp;less</span></strong><span style='font-family:"Times New Roman",serif;'>&nbsp;</span><span style='font-family:"Times New Roman",serif;font-size:16px;'>social - qo&apos;shnilar/odamlar bilan ko&rsquo;p aloqa qilmaydigan</span></li>
</ul>
<p style='margin:0in;margin-bottom:.0001pt;font-size:15px;font-family:"Georgia",serif;margin-top:.1pt;margin-right:0in;margin-left:17.55pt;line-height:11.55pt;'><span style='font-size:16px;font-family:"Times New Roman",serif;'>+&nbsp;<strong>well-constructed</strong> -</span> <span style='font-size:16px;font-family:"Times New Roman",serif;'>yaxshi qurilgan</span></p>
<p style='margin:0in;margin-bottom:.0001pt;font-size:15px;font-family:"Georgia",serif;margin-left:17.55pt;line-height:11.55pt;'><span style='font-size:16px;font-family:"Times New Roman",serif;'>+&nbsp;<strong>modern</strong> - zamonaviy</span></p>
<p style='margin:0in;margin-bottom:.0001pt;font-size:15px;font-family:"Georgia",serif;margin-left:17.55pt;line-height:11.5pt;'><span style='font-size:16px;font-family:"Times New Roman",serif;'>+&nbsp;<strong>good</strong> <strong>security</strong> &ndash; yaxshi xavfsizlik</span></p>
<p style='margin:0in;margin-bottom:.0001pt;font-size:15px;font-family:"Georgia",serif;margin-left:17.55pt;line-height:11.55pt;'><strong><span style='font-size:16px;font-family:"Times New Roman",serif;'>+&nbsp;spacious/enormous</span></strong><span style='font-size:16px;font-family:"Times New Roman",serif;'>&nbsp;&ndash; keng, katta</span></p>
<p style='margin:0in;margin-bottom:.0001pt;font-size:15px;font-family:"Georgia",serif;margin-top:.1pt;margin-right:0in;margin-left:17.55pt;line-height:11.55pt;'><span style='font-size:16px;font-family:"Times New Roman",serif;'>+&nbsp;<strong>central</strong> &ndash; markzaiy</span></p>
<p style='margin:0in;margin-bottom:.0001pt;font-size:15px;font-family:"Georgia",serif;margin-top:.1pt;margin-right:0in;margin-left:17.55pt;line-height:11.55pt;'><span style='font-size:16px;font-family:"Times New Roman",serif;'>+ <strong>good</strong> <strong>facilities</strong> (swimming pool/tennis&nbsp;courts) - yaxshi sharoitlar (suzish havzasi/tennis kortlari)</span></p>
<p style='margin:0in;margin-bottom:.0001pt;font-size:15px;font-family:"Georgia",serif;margin-top:0in;margin-right:85.1pt;margin-left:26.55pt;text-indent:-9.0pt;'><span style='font-size:16px;font-family:"Times New Roman",serif;'>&nbsp;</span></p>
<p style='margin:0in;margin-bottom:.0001pt;font-size:15px;font-family:"Georgia",serif;margin-left:17.55pt;line-height:11.55pt;'><span style='font-size:16px;font-family:"Times New Roman",serif;'>+&nbsp;<strong>panoramic</strong> <strong>views</strong> - panoramali ko&apos;rinishlar</span></p>
<p style='margin:0in;margin-bottom:.0001pt;font-size:15px;font-family:"Georgia",serif;margin-top:.05pt;margin-right:0in;margin-left:17.55pt;line-height:11.55pt;'><span style='font-size:16px;font-family:"Times New Roman",serif;'>+&nbsp;<strong>not&nbsp;cold&nbsp;and&nbsp;draughty&nbsp;like&nbsp;some&nbsp;old&nbsp;houses</strong> - &nbsp;ba&apos;zi eski uylar kabi sovuq va quruq emas</span></p>
<p style='margin:0in;margin-bottom:.0001pt;font-size:15px;font-family:"Georgia",serif;margin-left:17.55pt;line-height:11.55pt;'><span style='font-size:16px;font-family:"Times New Roman",serif;'>+&nbsp;<strong>not&nbsp;susceptible&nbsp;to&nbsp;power-</strong>cuts&nbsp; - &nbsp; elektr uzilishlari ko&rsquo;p bo&rsquo;lmaydi&nbsp;</span></p>
<p style='margin:0in;margin-bottom:.0001pt;font-size:15px;font-family:"Georgia",serif;'>&nbsp;</p>

</div>
