---
import Layout from '../../layouts/Layout.astro'
---

<Layout title="Grammar Blog">
   <div class="container mx-auto px-4 bg-white min-h-screen pt-5"></div> 
</Layout>

<script is:inline>

const container=document.querySelector(".container")

const renderwords= async ()=>{
    let box='';
        const res=await fetch("https://server-five-dusky.vercel.app/posts")
        const data=await res.json()     
        data.forEach((el)=>{
          box+=`
          <div class="rounded-lg shadow-lg my-2.5 px-3 py-5 bg-white text-gray-900 dark:bg-slate-700 dark:text-white">
          <a href="details?id=${el.id}">
             <img src="${el.img}" width="100px" height="100px">
            <h3 class="text-xl font-bold">${el.title}</h3>
            <p class="text-lg">${el.body.slice(0,200)}</p>
            <span>${el.like}</span>
           </a>
            </div>
            `

        })
        container.innerHTML=box
    }



window.addEventListener("DOMContentLoaded", ()=> renderwords())

</script>
