<section id="welcome" class="text-center container mx-auto min-h-screen bg-white px-4 dark:bg-gray-900 flex flex-col items-center justify-center">
       <div>
        <h1 class="font-bold text-3xl  text-green-400 my-4">Beginner Words</h1>
        <p class="text-center text-green-400">
            Ushbu bo'limda siz lug'atlarni talaffuzini o'rganasiz. Audioni eshiting va qaytaring! Agar tayyor bo'lsangiz, <span class="font-bold">"Start Game"</span> tugmasini bosing!
        </p>
        <button id="start-btn" class="my-5 bg-green-400 rounded-lg py-2.5 px-5 text-white">Start Game</button>
        </div>
    </section>
