<section id="welcome" class="text-center" style="width:500px">
       <div>
        <h1 class="font-bold lg:text-4xl sm:text-2xl text-indigo-600 my-4">Wordnik Game</h1>
        <p class="text-center text-blue-500">
            Ushbu bo'limda siz lug'atlarni o'yin shaklida o'rganasiz, so'z ijro etilgandan o'ng, o'sha so'zni to'g'ri talaffuz qilishga harakat qiling. Agar tayyor bo'lsangiz, <span class="font-bold">"Start Game"</span> tugmasini bosing!
        </p>
        <button id="start-btn" class="my-3 bg-indigo-600 rounded-lg py-2.5 px-5 text-white">Start Game</button>
        </div>
    </section>