---
import Layout from '../../layouts/Layout.astro'
import BeginWelcome from '../../components/wordnik/BeginWelcome.astro'
import GameCardBeginner from '../../components/wordnik/GameCardBeginner.astro'
import NextButton from '../../components/wordnik/NextButton.astro'
import Feedback from '../../components/wordnik/Feedback.astro'
import BeginScore from '../../components/wordnik/BeginScore.astro'
---

<Layout title="Beginner Words">
  <main class="min-h-screen w-full bg-white flex items-center justify-center">  
 <BeginWelcome/> 
 <GameCardBeginner/>
 <NextButton/>
 <Feedback/>
 <BeginScore/>
</main>
<audio id="audio" src=""></audio>
</Layout>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous"  is:inline></script>
<script src="https://code.responsivevoice.org/responsivevoice.js?key=3Wzpm5HU" is:inline></script>
<script is:inline>

  // Initialize variables
  let currentFlashcard = 0;
  let score = 0;
  let progress = 0;    
  const progressContainer = document.getElementById("progress");
  progressContainer.style.width = `${progress}%`;
  const wordContainer = document.getElementById("word");
  const wordTr=document.getElementById("translation")
  const audioElement = document.getElementById("audio");
  
  
  
   // Define the flashcards
  const flashcards = [
    {
      word: "true",
      translation: "rost,haqiqat"
    },
    {
      word: "beautiful",
      translation: "chiroyli"
    },
    {
      word: "picture",
      translation: "rasm,surat"
    },
    {
      word: "meat",
      translation: "go'sht"
    },
    {
      word: "friend",
      translation: "do'st"
    },
    {
      word: "parent",
      translation: "ota,ona"
    },
    {
      word: "start",
      translation: "boshlamoq"
    },
    {
      word: "snow",
      translation: "qor"
    },
    {
      word: "wrong",
      translation: "xato"
    },
    {
      word: "be unemployed",
      translation: "ishsiz"
    },
    {
      word: "be late",
      translation: "kechikmoq"
    },
    {
      word: "be tired",
      translation: "charchamoq"
    },
    {
      word: "a few",
      translation: "bir nechta"
    },
    {
      word: "ago",
      translation: "oldin"
    },
    {
      word: "a few minutes ago",
      translation: "bir necha daqiqa oldin"
    },
    {
      word: "better",
      translation: "yaxshiroq"
    },
    {
      word: "last night",
      translation: "o'tgan tunda"
    },
    {
      word: "exam",
      translation: "imtihon"
    },
    {
      word: "vegetarian",
      translation: "o'txor"
    },
    {
      word: "holiday",
      translation: "ta'til"
    },
    {
      word: "fall",
      translation: "yiqilmoq"
    },
    {
      word: "fall in love",
      translation: "sevib qolmoq"
    },
    {
      word: "find",
      translation: "topmoq"
    },
    {
      word: "forget",
      translation: "unutmoq"
    },
    {
      word: "give",
      translation: "bermoq"
    },
    {
      word: "know",
      translation: "bilmoq"
    },
    {
      word: "hear",
      translation: "eshitmoq"
    },
    {
      word: "leave",
      translation: "jo'nab ketmoq"
    },
    {
      word: "lose",
      translation: "yo'qotmoq"
    },
    {
      word: "pay",
      translation: "to'lamoq"
    },
    {
      word: "meet",
      translation: "uchrashmoq"
    },
    {
      word: "ring",
      translation: "telefon qilmoq"
    },
    {
      word: "sell",
      translation: "sotmoq"
    },
    {
      word: "win",
      translation: "yutmoq"
    },
    {
      word: "take off",
      translation: "yechmoq,uchmoq"
    },
    {
      word: "flight",
      translation: "parvoz"
    },
    {
      word: "two hours later",
      translation: "ikki soatdan so'ng"
    }
  ];
  
  /*
  // Function to start speech recognition
  function startSpeechRecognition() {
    const recognition = new window.webkitSpeechRecognition();
    recognition.continuous = false;
    recognition.lang = "en-US";
    recognition.onresult = function(event) {
      const spokenWord = event.results[0][0].transcript.toLowerCase();
      if (spokenWord === flashcards[currentFlashcard].word) {
        score++;
  
        $("#Feedback").show()
        $("#feed").text("Well Done!");
        $("#feed").css("color","white")
        $("#Feedback").css("background", "#25f20a")
        $("#score").text(`${score}/37`);
      } else {
        console.log("Oh no");
        $("#Feedback").show()
        $("#Feedback").css("background", "#e61037")
        $("#feed").text("Wrong. Try again!");
        $("#feed").css("color","white")
        $("#play").addClass("animate-ping")
        setTimeout(()=>{
          $("#play").removeClass("animate-ping")
        },1800)
      }
      //nextFlashcard();
    };
    recognition.start();
  }
  */

  console.log(flashcards.length)

  // Function to move to the next flashcard
  function nextFlashcard() {
    currentFlashcard++;
    progress += 3;
    $("#Feedback").fadeOut("fast", function(){
          $("#feed").text("");
  })
  
    progressContainer.style.width = `${progress}%`;
    if (currentFlashcard === flashcards.length) {
      $("#score-page").show()
      //victory.play()
      $("#gameCard").hide()
      $("#nextBtnContainer").hide()
  
    }
    wordContainer.innerText = flashcards[currentFlashcard].word;
    wordTr.innerText= flashcards[currentFlashcard].translation;
     wordValue=wordContainer.innerText
      const voiceName = "US English Female";
      responsiveVoice.speak(wordValue, voiceName);
    $("#play").click(()=>{
      wordValue=wordContainer.innerHTML
      const voiceName = "US English Female";
      responsiveVoice.speak(wordValue, voiceName);
    })
  }
  
  // Set the initial word and audio
  wordContainer.innerText = flashcards[currentFlashcard].word;
  wordTr.innerText= flashcards[currentFlashcard].translation;
  $("#start-btn").click(function(){
    wordValue=wordContainer.innerHTML
       console.log(wordValue)
      const voiceName = "US English Female";
      responsiveVoice.speak(wordValue, voiceName);
    $("#welcome").hide()
      $("#gameCard").show()
      $("#nextBtnContainer").show()
  
  })
  
  </script>
