---
import Layout from '../../layouts/Layout.astro'
import Card from '../../components/Card.astro'
---

<Layout title="Vocabulary Base">
<main class="container mx-auto py-3 px-4 min-h-screen bg-white">
   
    <Card
    title='Learn'
    href='/wordnik/beginner/begin'
    />
   
    <Card
    title='Quiz Card'
    href='/wordnik/beginner/card'
    />

    <Card
    title='Find Words'
    href='wordnik/beginner/'
    />

    
</main>
</Layout>