---
import Layout from '../../layouts/Layout.astro'
import Card from '../../components/Card.astro'
---

<Layout title="Vocabulary Base">
<main class="container mx-auto px-4 min-h-screen bg-white dark:bg-gray-800">
    <Card
    title='Wordnik Game'
    href='/wordnik/game'
    />

    <Card
    title='Wordnik Game'
    href='/wordnik/game'
    />
</main>
</Layout>