<style>
.responsive{
height:576px;
}

@media screen and (max-width:660px){
.responsive{
height:100%;
}
}
</style>

<main id="module4" class="hidden module w-full">
<h1 class="text-2xl text-center my-3 font-bold">Ariza xati ( Application Letter)</h1>
<iframe class="responsive mb-4" width="100%"  src="https://www.youtube.com/embed/AohMJXCtSsk" title="Lesson 3. Application letter" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<p class="text-md italic text-gray-700">Ariza xatlari asosan ishga kirish uchun, uchrashuv belgilash uchun, kurs va boshqa narsalar uchun yoziladi. (viza, biror narsani vaqtini uzaytirishda, kredit,  plastic karta uchun).</p>

<h2 class="text-xl font-bold my-3">Ariza xat turi quyidagilarni o`z ichiga oladi:</h2>
<ol class="my-2 py-3">
<li>1. Siz nimaga ariza berayotganingizni yoki murojaat qilmoqchi ekanligingizni aniq ko'rsating. </li>
<li>2. Iloji boricha murojaatingizni aniq qilib keltiring. </li>
<li>3. Murojaat qilib so`rayotgan narsangiz yoki ariza berayotgan ishingizga nisbatan arzirli sabablarni keltiring. (masalan, maqsadlaringiz, tajribangiz, malakangiz yoki yutuqlaringiz, ijobiy xislatlaringiz va boshqalar).</li>
<li>4. Xatni yozishingizdan aniq maqsadingizni va qabul qiluvchidan nimani xohlayotganligingizni aniq kiriting. </li>
<li>5. Xatingizga qaysi sanada javob berish yoki qaysi sanada javobni qabul qilib olishingizni kiriting.</li>
</ol>

 
<h1 class="py-3"><b>Sample Letter Analysis</b></h1>

<b><p class="">You should spend about 20 minutes on tins task.</p>
<p>You have been teaching English in Vietnam. Your contract with the university is to terminate and you want to continue teaching in Ho Chi Minh City.<br>
Write to a university to seek a position.
</p>
<p>You should write at least 150 wards.<br>
You do NOT need to write your address.<br>
Begin your letter as follows:</b><br>
<b><i>Dear Sir or Madam,</i></b>
</p>

<div class="my-3 border border-gray-800 p-4">
<p>Dear Sir or Madam,<br>
Perhaps there is a teaching position for me in your department.<br>
My name is John Powel. I am an Australian currently teaching English as an expert at Ho Chi Minh City University of Technology. It is my intention to work in Vietnam for another year or two, and so I am writing to you about the possibility of teaching at your university for the coming academic year (September 2010 - July 2011).<br>
I have been teaching conversational English to doctoral candidates and giving lectures to undergraduate students. Apart from classroom teaching, I also coached the school debating team that won the third place in the contest organised by Oxford Language School, 2008.  This coming semester I will be teaching conversational English and international trade in the Management Department.<br>
I would certainly be interested in hearing from you and wish to have an appointment for an interview. For your convenience I enclose my resume. <br>
I look forward to hearing from you and wish you a happy new year.<br>
Yours faithfully,<br>
John Powel
</p>
</div>
<p class="mt-4 mb-3"><b>Namunaviy xat tahlili:</b></p>
<ol>
<li>1. Bu xatning yozish maqsadi tushuntirilgan: o`qituvchi lavozima ariza berish.</li>
<li>2. O'zini tanishtirish, keyin esa ishga kirish arizasi yozilgan</li>
<li>3. Hozirgi ish, o'qituvchilik tajribasi va yutuqlari ko'rsatilgan</li>
<li>4. Interviyu bo`lishiga umid bildirgan.</li>
<li>5. Javob kutilayotgan sana ko'rsatilgan.</li>
</ol>

<h2 class="my-2 font-bold text-xl">Foydalanishingiz mumkin bo`lgan gap qoliplari:</h2>
<details>
<summary class="py-3 px-3 font-bold text-lg w-full bg-blue-500 rounded-lg text-white">Ko'rish uchun bosing</summary>
<b>Siz bo'sh ish o'rinlari haqida e'londan eshitgansiz.</b><br>
● I would like to apply for the post of male secretary as advertised in today’s Thanh Nien News. - Men bugungi Thanh Nien News-da e'lon qilinganidek, (erkak) kotib lavozimiga ariza bermoqchiman.<br>
● I should like to apply for the position (of a clerk) mentioned in your advertisement in Thanh Nien News of August 12. - Men 12-avgustdagi Thanh Nien News dagi e'loningizda ko'rsatilgan lavozimga (kotib) ariza bermoqchiman.<br>
● Learning from Mr. John Smith that you are looking for a sales manager, I should like to apply for the position. – Mr. Jon Smitdan siz savdo bo'yicha menejer qidirayotganingizni bilib, men ushbu lavozimga ariza bermoqchiman.<br>
● Savdo bo'yicha menejer lavozimiga ariza berishda men o'zimning malakaliman deyolaman, bu sizning talablaringizga javob beradi deb o'ylayman.<br>
● Your advertisement in this morning’s Post for a sales manager prompts me to offer you my qualifications for this position. – Bugun ertalabki sotuvchi kerak degan reklamangiz bo`yicha, men o`zimning tajribam borligini aytmoqchiman.<br>
<b>Ish uchun o'zingiz borib ariza berganingizda ishlatildigan gaplar</b><br>
Perhaps there is a position in your esteemed company for an experienced and conscientious secretary.  -  Balki sizning kompaniyangizga tajribali sekretar kerakdur. <br>
Shall you need an experienced desk clerk for your hotel next summer?  - Kelasi yozda sizlarga tajribali sektetar kerak bo`lar?<br>
Like many young men, I am looking for a position. I want to get started, at the bottom, perhaps, but started.  - Ko‘p odamlar qatori men ham o‘z o‘rnimga ega bo‘lmoqchiman. Pastroq vazifada bo`lsa ham boshlashni xohlayman.<br>

<b>3.	Siz nima uchun ish joyiga munosib ekanligingizni aytib o`tasiz va ish beruvchining qiziqishini oshirish uchun o`z mahoratingizni va qobiliyatlaringizni sanab o`tasiz.</b><br>
I am 25 years of age, and have had two years’ experience in my present post. - Men 25 yoshdaman va hozirgi lavozimimda ikki yillik tajribaga egaman.<br>
I am just leaving school, and am eighteen years old. - Men endigina maktabni tugatyapman va o'n sakkiz yoshdaman.<br>
I am a graduate of Oxford University, and have recently completed the business course at Harvard University.  - Men Oksford universiteti bitiruvchisiman va yaqinda Garvard universitetida biznes kursini tamomlaganman.<br>
I am a graduate of Birmingham University, and have in addition the MA degree from UCLA.  - Men Birmingem universiteti bitiruvchisiman va qo'shimchasiga UCLA magistrlik darajasiga egaman.<br>
I have been in the business for the last ten years and worked as the superintendent in the personnel department. - Men so'nggi o'n yil davomida biznes bilan shug`ullanganman va kadrlar bo'limida boshliq bo'lib ishladim.<br>
I am a good accountant and I am good at bookkeeping by double entry. - Men yaxshi buxgalterman va buxgalteriya hisobini yaxshi bilaman.<br>
I am a good accountant and have a thorough knowledge of the English language. - Men yaxshi hisobchiman va ingliz tilini mukammal bilaman. <br>

<b>4.	Siz kutayotgan maoshingizni aytishingiz kerak</b><br>
The salary I should require would be 1,000 USD per month as a start. -  Mening boshlang`ich ish haqim oyiga 1000 AQSh dollar bo`lsin.<br>
As regard salary, I leave it to you to decide after experience of my capacity. - Maoshga kelsak, men o'z imkoniyatlarimni sinab ko'rgandan so'ng qaror qilishni sizga qoldiraman.<br>
I hesitate to state a definite salary, but, as long as you have requested me to, I should consider ... a month satisfactory. - Aniq maoshni aytishga ikkilanyapman, lekin siz iltimos qilgan bo'lsangiz, … oylik maoshni qoniqarli deb hisoblayman.<br>

<b>5.	Nima uchun hozirgi ishingizni tark etishga qaror qilganingizni tushuntiring:</b><br>
The only reason why I am leaving the present position is to gain more experience in a law office - Hozirgi lavozimni tark etishimning yagona sababi - advokatlik bo'limida ko'proq tajriba orttirish.<br>
My reason for leaving my present employer is that I am desirous of getting broader experience in trading - Hozirgi ishimni tark etishim sababi shundaki, men savdo sohasida kengroq tajribaga ega bo'lishni xohlayman.<br>

<b>6.	Xat yakunida ish beruvchidan ish suhbatini yoki javob xatini so’rashingiz mumkin: </b><br>

I hope that you will be kind enough to consider my application favourably. - Umid qilamanki, siz mening arizamni ijobiy ko'rib chiqasiz.<br>

Should you think favourably of my application, kindly grant me an interview. - Agar mening arizam haqida ijobiy fikrda bo'lsangiz, iltimos, men bilan suhbat uyushtiring.<br>

I should like to enter your university, to take such courses as teaching methodology, applied linguistics and comparative literature. - Men sizning universitetingizga kirishni, o'qitish metodikasi, amaliy tilshunoslik va qiyosiy adabiyot kabi kurslarni o'tashni xohlardim.<br>

I am now writing to apply for admission to the XXX department of your university. I would appreciate it very much if you could ... - Men hozir universitetingizning XXX bo'limiga kirish uchun ariza yozyapman. Agar ……. ga imkoningiz bo'lsa, men buni juda qadrlayman.<br>
</details>

</main>
