<main id="module3" class="hidden module w-full">
     
<article
class="post-684 writingtask1 type-writingtask1 status-publish hentry ast-article-single" id="post-684" itemtype="https://schema.org/CreativeWork" itemscope="itemscope">

	
	
<div class="ast-post-format- ast-no-thumb single-layout-1">

	
	
		<header class="entry-header ">

			
			<h1 class="entry-title" itemprop="headline">Ariza xati ( Application Letter)</h1><div class="entry-meta">By <span class="posted-by vcard author" itemtype="https://schema.org/Person" itemscope="itemscope" itemprop="author">			<a title="View all posts by admin"
				href="https://xirurgabdukarim.uz/author/admin/" rel="author"
				class="url fn n" itemprop="url"				>
				<span
				class="author-name" itemprop="name"				>
				admin			</span>
			</a>
		</span>

		 / <span class="posted-on"><span class="published" itemprop="datePublished"> 18/07/2023 </span></span></div>
			
		</header><!-- .entry-header -->

	
	
	<div class="entry-content clear"
	ast-blocks-layout="true" itemprop="text"	>

		
		
<p></p>



<p>Ariza xatlari asosan ishga kirish uchun, uchrashuv belgilash uchun, kurs va boshqa narsalar uchun yoziladi. (viza, biror narsani vaqtini uzaytirishda, kredit,&nbsp; plastic karta uchun).</p>



<p><strong>Ariza xat turi o`z ichiga oladi:</strong></p>



<p>1. Siz nimaga ariza berayotganingizni yoki murojaat qilmoqchi ekanligingizni aniq ko&#8217;rsating.</p>



<p>2. Iloji boricha murojaatingizni aniq qilib keltiring.</p>



<p>3. Murojaat qilib so`rayotgan narsangiz yoki ariza berayotgan ishingizga nisbatan arzirli sabablarni keltiring.<em> (masalan, maqsadlaringiz, tajribangiz, malakangiz yoki yutuqlaringiz, ijobiy xislatlaringiz va boshqalar).<br></em>4. Xatni yozishingizdan aniq maqsadingizni va qabul qiluvchidan nimani xohlayotganligingizni aniq kiriting.</p>



<p>5. Xatingizga qaysi sanada javob berish yoki qaysi sanada javobni qabul qilib olishingizni kiriting.</p>



<p><strong>Sample Letter Analysis</strong></p>



<p><strong>You should spend about 20 minutes on this task.</strong><strong><br></strong><strong><em>You have been teaching English in Vietnam. Your contract with the university is to terminate</em></strong><strong><em> </em></strong><strong><em>and you want to continue teaching in Ho Chi Minh City.</em></strong><strong><em><br></em></strong><strong><em>Write to a university to seek a position.</em></strong><strong><em><br></em></strong><strong>You should write at least 150 words.</strong><strong><br></strong><strong>You do NOT need to write your address.</strong><strong><br></strong><strong>Begin your letter as follows:</strong><strong><br></strong><strong>Dear Sir or Madam,</strong></p>



<p>Dear Sir or Madam,</p>



<p>Perhaps there is a teaching position for me in your department.</p>



<p>My name is John Powel. I am an Australian currently teaching English as an expert at Ho Chi Minh City University of Technology. It is my intention to work in Vietnam for another year or two, and so I am writing to you about the possibility of teaching at your university for the coming academic year (September 2010 &#8211; July 2011).</p>



<p>I have been teaching conversational English to doctoral candidates and giving lectures to undergraduate students. Apart from classroom teaching, I also coached the school debating team that won the third place in the contest organised by Oxford Language School, 2008. &nbsp;This coming semester I will be teaching conversational English and international trade in the Management Department.</p>



<p>I would certainly be interested in hearing from you and wish to have an appointment for an interview. For your convenience I enclose my resume.</p>



<p>I look forward to hearing from you and wish you a happy new year.</p>



<p>Regards,</p>



<p>John Powel (175 words)</p>



<p><strong>Namunaviy xat tahlili:</strong></p>



<p>1. Bu xatning yozish maqsadi tushuntirilgan: o`qituvchi lavozima ariza berish.</p>



<p>2. O&#8217;zini tanishtirish, keyin esa ishga kirish arizasi yozilgan</p>



<p>3. Hozirgi ish, o&#8217;qituvchilik tajribasi va yutuqlari ko&#8217;rsatilgan</p>



<p>4. Interviyu bo`lishiga umid bildirgan.</p>



<p>5. Javob kutilayotgan sana ko&#8217;rsatilgan.</p>



<p><strong>Foydalanishingiz mumkin bo`lgan gap qoliplari:</strong></p>



<p><strong>1. Siz bo&#8217;sh ish o&#8217;rinlari haqida e&#8217;londan eshitgansiz.</strong></p>



<p>● I would like to apply for the post of male secretary as advertised in today’s <em>Thanh Nien News. </em>&#8211; Men bugungi Thanh Nien News-da e&#8217;lon qilinganidek, (erkak) kotib lavozimiga ariza bermoqchiman.</p>



<p>● I should like to apply for the position (of a clerk) mentioned in your advertisement in <em>Thanh Nien</em><em> </em><em>News </em>of August 12. &#8211; Men 12-avgustdagi <em>Thanh Nien News</em> dagi e&#8217;loningizda ko&#8217;rsatilgan lavozimga (kotib) ariza bermoqchiman.</p>



<p>● Learning from Mr. John Smith that you are looking for a sales manager, I should like to apply for the position. – Mr. Jon Smitdan siz savdo bo&#8217;yicha menejer qidirayotganingizni bilib, men ushbu lavozimga ariza bermoqchiman.</p>



<p>● Savdo bo&#8217;yicha menejer lavozimiga ariza berishda men o&#8217;zimning malakaliman deyolaman, bu sizning talablaringizga javob beradi deb o&#8217;ylayman.</p>



<p>● Your advertisement in this morning’s <em>Post </em>for a sales manager prompts me to offer you my qualifications for this position. – Bugun ertalabki sotuvchi kerak degan reklamangiz bo`yicha, men o`zimning tajribam borligini aytmoqchiman.</p>



<ol type="1">
<li><strong>Ish uchun ariza berishda</strong></li>
</ol>



<p>Perhaps there is a position in your esteemed company for an experienced and conscientious secretary. &nbsp;&#8211;&nbsp; <em>Balki sizning kompaniyangizga tajribali sekretar kerakdur.</em></p>



<p>Shall you need an experienced desk clerk for your hotel next summer? &nbsp;&#8211; <em>Kelasi yozda sizlarga tajribali sektetar kerak bo`lar?</em></p>



<p>Like many young men, I am looking for a position. I want to get started, at the bottom, perhaps, but started. &nbsp;&#8211; <em>Ko‘p odamlar qatori men ham o‘z o‘rnimga ega bo‘lmoqchiman. Pastroq vazifada bo`lsa ham boshlashni xohlayman.</em></p>



<ul>
<li><strong>Siz nima uchun ish joyiga munosib ekanligingizni aytib o`tasiz va ish beruvchining qiziqishini oshirish uchun o`z mahoratingizni va qobiliyatlaringizni sanab o`tasiz.</strong></li>
</ul>



<p>I am 25 years of age, and have had two years’ experience in my present post. &#8211; <em>Men 25 yoshdaman va hozirgi lavozimimda ikki yillik tajribaga egaman.</em><strong><em></em></strong></p>



<p>I am just leaving school, and am eighteen years old. &#8211; <em>Men endigina maktabni tugatyapman va o&#8217;n sakkiz yoshdaman.</em></p>



<p>I am a graduate of Oxford University, and have recently completed the business course at Harvard University. &nbsp;&#8211; <em>Men Oksford universiteti bitiruvchisiman va yaqinda Garvard universitetida biznes kursini tamomlaganman.</em></p>



<p>I am a graduate of Birmingham University, and have in addition the MA degree from UCLA. &nbsp;&#8211; <em>Men Birmingem universiteti bitiruvchisiman va qo&#8217;shimchasiga UCLA magistrlik darajasiga egaman.</em></p>



<p>I have been in the business for the last ten years and worked as the superintendent in the personnel department. &#8211; <em>Men so&#8217;nggi o&#8217;n yil davomida biznes bilan shug`ullanganman va kadrlar bo&#8217;limida boshliq bo&#8217;lib ishladim.</em></p>



<p>I am a good accountant and I am good at bookkeeping by double entry. &#8211; <em>Men yaxshi buxgalterman va buxgalteriya hisobini yaxshi bilaman.<br></em>I am a good accountant and have a thorough knowledge of the English language. &#8211; <em>Men yaxshi hisobchiman va ingliz tilini mukammal bilaman.</em></p>



<ul>
<li><strong>Siz kutayotgan maoshingizni aytishingiz kerak.</strong></li>
</ul>



<p>The salary I should require would be 1,000 USD per month as a start. &#8211;&nbsp; <em>Mening boshlang`ich ish haqim oyiga 1000 AQSh dollar bo`lsin.</em><em><br></em>As regard salary, I leave it to you to decide after experience of my capacity. &#8211; <em>Maoshga kelsak, men o&#8217;z imkoniyatlarimni sinab ko&#8217;rgandan so&#8217;ng qaror qilishni sizga qoldiraman.</em><br>I hesitate to state a definite salary, but, as long as you have requested me to, I should consider &#8230; a month satisfactory. &#8211; <em>Aniq maoshni aytishga ikkilanyapman, lekin siz iltimos qilgan bo&#8217;lsangiz, … oylik maoshni qoniqarli deb hisoblayman.</em><em><br><br></em></p>



<ul>
<li><strong>Nima uchun hozirgi ishingizni tark etishga qaror qilganingizni tushuntiring:</strong></li>
</ul>



<p>The only reason why I am leaving the present position is to gain more experience in a law office <em>&#8211; Hozirgi lavozimni tark etishimning yagona sababi &#8211; advokatlik bo&#8217;limida ko&#8217;proq tajriba orttirish.</em></p>



<p>My reason for leaving my present employer is that I am desirous of getting broader experience in trading &#8211; <em>Hozirgi ishimni tark etishim sababi shundaki, men savdo sohasida kengroq tajribaga ega bo&#8217;lishni xohlayman.</em></p>



<ul>
<li><strong>Xat yakunida ish beruvchidan ish suhbatini yoki javob xatini so’rashingiz mumkin:</strong></li>
</ul>



<p><em>I hope that you will be kind enough to consider my application favourably. &#8211; Umid qilamanki, siz mening arizamni ijobiy ko&#8217;rib chiqasiz.</em></p>



<p>Should you think favourably of my application, kindly grant me an interview. &#8211; <em>Agar mening arizam haqida ijobiy fikrda bo&#8217;lsangiz, iltimos, men bilan suhbat uyushtiring.</em></p>



<p>I should like to enter your university, to take such courses as teaching methodology, applied linguistics and comparative literature. &#8211; <em>Men sizning universitetingizga kirishni, o&#8217;qitish metodikasi, amaliy tilshunoslik va qiyosiy adabiyot kabi kurslarni o&#8217;tashni xohlardim.</em></p>



<p><em>I am now writing to apply for admission to the XXX department of your university. I would appreciate it very much if you could &#8230; &#8211; Men hozir universitetingizning XXX bo&#8217;limiga kirish uchun ariza yozyapman. Agar ……. ga imkoningiz bo&#8217;lsa, men buni juda qadrlayman</em></p>

		
		
			</div><!-- .entry-content .clear -->
</div>

	
</article><!-- #post-## -->

</main>

