<div id="module2" class="hidden module w-full">
      <h2 class="text-2xl text-center my-3 font-bold">Tashakkur xati (Thank You Letter)</h2>
     <iframe  width="1024" height="576" src="https://www.youtube.com/embed/W3O0-odGFXQ" title="" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <p class="text-xl font-bold my-4">Tashakkur  quyidagi qismlardan iborat bo`ladi:</p>
<p><b>1.  Greeting (salomlashish).</b> Xatni <i>Dear Sir or Madam</i> (hurmatli janob yoki xonim) bilan boshlang. Yozib bo`lgach vergul(,) qo`yiladi.
<p><b>2.  Introduction (kirish qismi).</b> Maktubingizni nima maqsadda, ya`ni nima uchun  yozayotganligingizni ko`rsating.</p>
<p><b>3.  Body (ma`no qismi).</b> Siz uchun qilgan ishi sizning nazdingizda qanchalik qadrli va ahamiyatli ekanligini bildirishingiz kerak. O`z rahmatingizni ayting va buning evaziga nima qilmoqchiligingizni keltiring. Yakunlashda ba`zi bir iboralar bilan minnatdorchiligingizni bildiring yoki aloqani davom ettirish niyatingiz borligini bildiring.</p>
<p><b>4.  Closing (yakuniy qism):</b> Agar xatni <i>“Dear Sir” yoki “Dear Mam”</i> bilan boshlagan bo`lsangiz <i>“Yours faithfully”</i> (faqat birinchi harfini katta harf bilan yozasiz), agar xatni oluvchining ismi bilan boshlagan bo`lsangiz <i>“Yours sincerely”</i> yoki <i>“Sincerely yours”</i> bilan yakunlang. Ismingizni yozishingiz shart emas.</p>


<ul class="list-disc my-3"> 
  <b class="text-lg">Tavsiyalar:</b>
<li>Faqat maqsadingiz haqida yozing.</li>
<li>Samimiy ma`noda yozing.</li>
<li>Xatingizni tushunarli yozing. Voqealar tafsilotlarini aniq qilib kiriting.</li>
<li>Xatni yakunlashda iboralardan foydalaning. Qanday yakunlash tashakkur xatining turiga bog`liq.</li>
</ul>

<p class="bg-blue-200 p-3 rounded"><b>Note:</b> Har bir kishi ularning mehribonligini qadrlashingizni aytiladigan xatlarni yoqtirishadilar. Yaxshi va iliq fikrlarni ifodalavchi xatlarga har qanday kishi ijobiy munosabatda bo`ladi.</p>
</p>
<h3 class="text-lg text-center font-bold mt-3">Sample Letter Analysis</h3>
<section class="border border-gray-800 p-3 my-3">
<div><b>You should spend about 20 minutes on this task.</b><div>
  <div><b><i>You are a commuter. One morning on your way to work you suddenly fell ill and lost your consciousness. One gentleman on the same bus sent you to a hospital. Write a letter to the company where the gentleman works to extend your gratefulness.</i></b></div>
<p><b>You should write at least 150 words.
You do NOT need to write your address.
Begin your letter as follows:<br>
Dear Sir or Madam,</b></p>
</section>

<p>Dear Sir or Madam,<br>
I am writing this letter to extend my sincere thanks to Mr. Baker, the cashier of your company.<br>
I am a commuter and every day I take bus Route 133 to work. Last Friday morning when the bus almost reached the stop where I was to get off, I suddenly felt dizzy and  vthen I lost my consciousness. When I came to, I found myself in St. Mary’s Hospital, attended by my wife. The doctor told me it was Mr. Baker who had sent me to the hospital and informed my wife of my condition. Mr. Baker happened to be on the same bus, but I have never met him.<br>
My wife and I were very much grateful to Mr. Baker for his kindness. Please forward my heartfelt thankfulness to him. We feel very much proud of your company for having such a good employee. If Mr. Baker was late for work that day, I’d like to compensate you.<br>
I do hope that your company would reward Mr. Baker for his noble deeds.<br>
Yours faithfully,<br>
Larry Smith
</p>

<h3 class="text-lg text-center font-bold mt-4">Namunaviy xat tahlili:</h3>
<p>Ushbu namunaviy xatda yuqorida aytib o'tilgan to'rtta asosiy qismni o'z ichiga olganligini ko'rishingiz mumkin.</p>
<ol>
<li><b>Greeting (salomlashish).</b> “Dear Sir or Madam” bilan boshlangan (yuqorida yuriqnomada aytilgandek). Vergul qo`yilgan.</li>
<li><b>Introduction (kirish qismi).</b> Xatda xatning yozilishi sababi aytilgan.</li>
<li><b>Body (ma`no qismi).</b>  O‘zi bilan bo‘lgan voqea aytilgan. Keyin u janob Beykerga o'z minnatdorchiligi va uning kompaniyasiga taklifi bildiradi (ya'ni janob Beykerni mukofotlash).</li>
<li><b>Closing (yakuniy qism):</b> O`rinli bo`lgan xatni yakunlavchi iboradan foydalanilgan. Ismni yozish va imzo qo`yish shart emas.</li>
</ol>
<h3 class="text-lg text-center font-bold my-5">Foydalanishingiz mumkin bo`lgan gap qoliplari:</h3>
<details>
<summary class="py-3 px-3 font-bold text-lg w-full bg-blue-500 text-white">Ko'rish uchun bosing</summary>

<p><br />● I am writing this letter to thank you for ... - <em>Men bu maktubni sizga minnatdorchilik bildirish uchun yozyapman ...</em><br />● How considerate and wonderful of you to remember my birthday. - <em>Mening tug'ilgan kunimni eslashingiz bu e`tiborligingiz va g`amxo`rligingizdur.</em><br />● I will cherish this memory forever. - <em>Men bu xotirani abadiy saqlayman (unutmayaman).</em><br />● I was thrilled and excited when I... &ndash; <em>Men juda xursand bo`lgan edim qachonki men &hellip;</em><br />● This letter is to express my thanks and appreciation for ... - <em>Ushbu maktub mening minnatdorchiligim va minnatdorchiligim &hellip; uchun (qilgan ishi yoziladi)</em> <br />● This is to thank you for ... -<em> Bu sizga minnatdorchilik bildirish uchun ...</em><br />● My wife and I want to thank you for ... &ndash; <em>&hellip; uchun ayolim va men minnatdorchilik bildiramiz.</em><br />● I repeat my thanks, in which my wife joins me. &ndash; <em>Yana bir bor ayolim va men minnatdorchilik bildiramiz.</em><br />● Please accept my thanks for ... &ndash; <em>&hellip; uchun minnatdorchiligimizni qabul qilsangiz.</em><br />● I appreciate very much for your thoughtfulness. - <em>Men sizning g`amxo`ligingiz uchun juda minnatdorman.</em><br />● Again with my thanks for your hospitality. - <em>Iltifotingiz uchun yana bir bor minnatdorchilik bildiraman.</em><br />● I lack words with which to express my gratitude to you. - S<em>izga o'z minnatdorchiligimni bildirish uchun so'zlar ojiz.</em><br />● I am much obliged to you for your timely help. - <em>O'z vaqtida ko'rsatgan yordamingiz uchun sizdan yordam qarzman</em>.<br />● I am writing these few lines to express my sincere thanks, not only to yourself but to ... as well. - <em>Men bu bir necha satrlarni nafaqat o'zingizga, balki ...ga ham samimiy minnatdorchilik bildirish uchun yozyapman.</em><br />● Please have no hesitation in writing to me should you want me to do something for you in &hellip;. - <em>Agar siz uchun biror narsa qilishimni xohlasangiz, iltimos, menga yozing.</em><br />● Your party last weekend was the best yet. - <em>O'tgan hafta oxiri sizning ziyofatingiz yaxshi bo`ldi.</em> <br />● If you need anything in your study, please let me know. - <em>Agar o'qishingizda biror narsa kerak bo'lsa, iltimos, menga xabar bering.</em><br />● I hope you will give me the chance to return your kindness. - <em>Umid qilamanki, siz menga yaxshiligingizni sizga ham qaytarish imkoniyatini berasiz.</em></p>
</details>
<h3 class="text-lg text-center font-bold my-5">Foydalanishingiz uchun so'z va iboralar:</h3>
<details>
<summary class="py-3 px-3 font-bold text-lg w-full bg-blue-500 text-white">Ko'rish uchun bosing</summary>
<p>accept - qabul qilmoq   <br>           
express - ifodalamoq<br>
generous - g`amxo`r<br>
ill – kasal, betob<br>
admire – hurmat qilmoq<br>
extend - kengaytirmoq<br>
grateful (adj) - mannatdor<br>
kind - mehribon<br>
appreciate – qadrlamoq<br>
friendly – do`stona<br>
heartfelt – chin dildan<br>
lose one's way – (yo`ldan) adashish<br>
praise – duo qilmoq<br>
show – ko`rsatmoq<br>
to have a car accident – avtohalokatga uchramoq<br>
volunteer – ko`ngilli, o`zi xohlovchi<br>
embalm hospitable heartfelt – juda mehmondo`st<br>
thanks noble - tashakkur<br>
pay tribute to reward – yaxshilikni mukofotlamoq<br>
to be in danger to have a heart-attack - yurak xuruji xavfi bo'lishi<br>
perfect - mukammal<br>
satisfy – ko`ngli to`lmoq<br>
to be proud of touch - faxrlanmoq<br>
wound – tinch qo`ymaydi (shikastlamoq, jarohatlamoq)<br>
rescue - qutqarmoq<br>
sincere – samimiy<br>
</p>
</details>
    </div>
