<main id="module3" class="hidden module w-full">
      <h2 class="text-2xl text-center my-3 font-bold">So'rov xati (Request Letter)</h2>
<iframe class="w-full aspect-video hover:aspect-square" width="100%" height="100%" src="https://www.youtube.com/embed/ptBZQ92CDqc" title="" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<p class="my-4" style="text-align:center"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black"><strong><span style="font-size:14.0pt">So`rov xati qanday qismlardan iborat bo`ladi?</span></strong></span></span></span></span></p>

<p>&nbsp;</p>

<ol>
	<li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><span style="font-size:14.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">Greeting <em>(salomlashish). </em></span></span></span></strong></span></span></li>
	<li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><span style="font-size:14.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">Introduction <em>(kirish qismi). </em></span></span></span></strong><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black"><strong><span style="font-size:14.0pt">Yozishdan maqsadingizni ko&#39;rsating va tegishli masalani eslatib o&#39;ting.</span></strong></span></span></span></span></li>
	<li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><span style="font-size:14.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">Body <span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black"><strong><em>(ma`no qismi).</em> </strong></span></span></span></span></span></strong><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black"><strong><span style="font-size:14.0pt">Siz so`rovingizning sababini keltirishingiz kerak.</span></strong></span></span></span></span></li>
	<li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><span style="font-size:14.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">Closing <span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black"><strong><em>(yakuniy qism)</em>: </strong></span></span></span></span></span></strong><span style="font-size:14.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif">So`rov o`zingizga kerakli narsani so`rash uchun eng maqbul yo`l hisoblanadi. Ushbu xatda sizning nimani so`rashingiz emas, balki qanday so`rashingiz muhim hisoblanadi.</span></span></span></span></li>
</ol>

<p style="margin-left:48px">&nbsp;</p>

<p style="margin-left:48px">&nbsp;</p>

<p style="margin-left:48px"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><span style="font-size:14.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">Tavsiyalar:</span></span></span></strong></span></span></p>

<p style="margin-left:48px"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:14.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">So`rov xatini yozishda xushmuomila bo`lling, sababi so`rov xatida vaqt, resurs yoki qobiliyat talab etib yoziladi. Xatni oluvchiga bu ishni bajarish tashvish tug`dirmasligini aytib o`tishingizkerak.</span></span></span></span></span></p>

<p style="margin-left:48px"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:14.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">●</span></span></span> <span style="font-size:14.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">Aniq qilib kiriting</span></span></span></span></span></p>

<p style="margin-left:48px"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:14.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">● Dadil va asosli qilib yozing. Ishonchli qilib yozing ammo ta`ziq o`tkazmang.</span></span></span></span></span></p>

<p style="margin-left:48px"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:14.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">● </span></span></span><span style="font-size:14.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">S</span></span></span><span style="font-size:14.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">o&lsquo;rovingizni aniq etkazish uchun zarur bo&lsquo;lgan tafsilotlarni kiriting.</span></span></span></span></span></p>

<p style="margin-left:48px"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:14.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">● Faqat ma`nili so&lsquo;rovlarni kiriting.</span></span></span></span></span></p>

<p style="margin-left:48px"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:14.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">● Bu yaxshiligini ham qaytarishni kiriting</span></span></span></span></span></p>

<p style="margin-left:48px"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:14.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">● Biror-bir tushunmovchilik bo`lsa siz bilan bog`lanishligi mumkin deb &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;taklif bering. </span></span></span></span></span></p>

<p style="margin-left:48px"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:14.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">● Sizning so`rovingizga vaqt ajratgani uchun minnatdorchilik bildiring.</span></span></span></span></span></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p style="text-align:center"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><span style="font-size:14.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">Sample Letter Analysis</span></span></span></strong></span></span></p>

<p style="margin-left:48px">&nbsp;</p>

<table align="left">
	<tbody>
		<tr>
			<td style="height:202px; width:18px">&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<p style="margin-left:48px"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><span style="font-size:14.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">You should spend about 20 minutes on tins task.</span></span></span></strong><br />
<strong><em><span style="font-size:14.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">The English Department has decided to hold a speech contest in late December, but your</span></span></span></em></strong><strong><em> </em></strong><strong><em><span style="font-size:14.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">classmates find that it is too near the final examination. Write to the Dean of the department to</span></span></span></em></strong><strong><em> </em></strong><strong><em><span style="font-size:14.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">suggest a change of the time.</span></span></span></em></strong><br />
<strong><span style="font-size:14.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">You should write at least 150 wards.</span></span></span></strong><br />
<strong><span style="font-size:14.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">You do NOTmeed to write your address.</span></span></span></strong><br />
<strong><span style="font-size:14.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">Begin your letter as follows:</span></span></span></strong><br />
<strong><span style="font-size:14.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">Dear Sir or Madam.</span></span></span></strong></span></span></p>

<p style="margin-left:48px">&nbsp;</p>

<p style="margin-left:48px">&nbsp;</p>

<p style="margin-left:48px"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:14.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">Dear Sir or Madam,</span></span></span></span></span></p>

<p style="margin-left:48px"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:14.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">We are students of Class 99-1. We&rsquo;re glad that the department is to hold an English speech</span></span></span> <span style="font-size:14.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">contest. We are sure it is of great help to our oral English and all of us want to take part in it.</span></span></span></span></span></p>

<p style="margin-left:48px"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:14.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">We&rsquo;ve noticed that the time of the contest is on 27th of December. What troubles us is the time of the contest. As you know, according to the school schedule of this term, the final examination is to begin on Jan. 10, We all wish to do excellently in both, but we are afraid that it will be very difficult for us to prepare for the examination and the contest at the same time. As a result, we would spend less time on the preparation of the contest.</span></span></span></span></span></p>

<p style="margin-left:48px"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:14.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">Considering the outcome of the contest, we suggest that it be postponed to the next term, preferably in the first few weeks. We suggest so because, generally speaking, we have more free time in that period of time.</span></span></span></span></span></p>

<p style="margin-left:48px"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:14.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">Thank you for your attention.</span></span></span></span></span></p>

<p style="margin-left:48px"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:14.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">Yours faithfully,</span></span></span></span></span></p>

<p style="margin-left:48px"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:14.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">All of Class 99-1 (181 words)</span></span></span></span></span></p>

<p style="margin-left:48px">&nbsp;</p>

<p style="text-align:center"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><span style="font-size:14.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">Namunaviy xat tahlili:</span></span></span></strong></span></span></p>

<ol>
	<li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:14.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">O`zingizni tanishtirganingizdan keyin, rasmiy Ingliz tilidan murojaat qiling.</span></span></span></span></span></li>
	<li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:14.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">Keyingi qism nima uchun sinf so&#39;rov xati yuborishi haqida: tanlov va yakuniy imtihon vaqti bir-biriga juda yaqin, bu ikkala tadbirda ham o&#39;quvchilarning samliyatiga ta&#39;sir qilishi mumkin.</span></span></span></span></span></li>
	<li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:14.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">Keyingi qismda so`rov ro`y rost aytildi.</span></span></span></span></span></li>
	<li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:14.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">So`rovingizga vaqt ajratib ko`rib chiqqani uchun minnatdorchilik bildiring.</span></span></span></span></span></li>
</ol>

<p>&nbsp;</p>


<h1 class="text-2xl font-bold">Foydalanishingiz mumkin bo`lgan gap qoliplari:</h1>
<details>
<summary class="py-3 px-3 font-bold text-lg w-full bg-blue-500 text-white">Ko'rish uchun bosing</summary>
<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:14.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">● I would like to suggest (that) you (should)... &ndash; <em>Siz &hellip; qilishingizni taklif qilaman</em></span></span></span><br />
<span style="font-size:14.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">● May I suggest that... &ndash; <em>&hellip; taklifni bersam maylimi.</em></span></span></span><br />
<span style="font-size:14.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">● Considering ..., I propose that ... - <em>&hellip;ni hisobga olsak, mening maqsad &hellip;</em></span></span></span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><em><span style="font-size:14.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">&nbsp;(e.g. Considering the high cost of the construction, I propose that</span></span></span></em><br />
<em><span style="font-size:14.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">we should stop the plan.)</span></span></span></em></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:14.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">● Concerning this matter, my proposal is ... &ndash; <em>Bu masala bo`yicha mening fikrim</em></span></span></span><br />
<span style="font-size:14.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">● On behalf of I suggest ... &ndash; <em>Shaxsan o`zim taklif beraman &hellip;</em></span></span></span><br />
<span style="font-size:14.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">● What I want to suggest is ... &ndash; <em>Mentaklif qilmoqchi bo`lgan narsa &hellip;</em></span></span></span><br />
<span style="font-size:14.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">● My suggestion is that... &ndash; <em>Mening taklifim shuki &hellip;</em></span></span></span><br />
<span style="font-size:14.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">● In my opinion, I would say ... &ndash; <em>Menimcha, &hellip; degan bo`lar edim.</em></span></span></span><br />
<span style="font-size:14.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">● I propose they should ... &ndash; <em>Ularni &hellip; qilishni taklif qilaman.</em></span></span></span><br />
<span style="font-size:14.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">● If you had better ... &ndash; &nbsp;<em>&hellip; ni qilishingiz eng afzali.</em></span></span></span></span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><em><span style="font-size:14.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">(e.g. If you go to Australia now, you had better bring some warm clothes with</span></span></span></em><br />
<em><span style="font-size:14.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">you.)</span></span></span></em></span></span></p>
</details>

<h1 class="text-2xl font-bold">Foydalanishingiz uchun so'z va iboralar:</h1>
<details>
<summary class="py-3 px-3 font-bold text-lg w-full bg-blue-500 text-white">Ko'rish uchun bosing</summary>
<table cellspacing="0" class="MsoTableGrid my-3" style="border-collapse:collapse; border:none">
	<tbody>
		<tr>
			<td style="border-color:black; border-style:solid; border-width:1px; height:351px; vertical-align:top; width:364px">
			<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:14.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">advice - <em>maslahat</em><br />
			condition - <em>holat</em><br />
			improve - <em>yaxshilash</em><br />
			matter - <em>muammo</em><br />
			prevent &ndash; <em>oldini olish</em><br />
			regard - <em>munosabat</em><br />
			stop smoking &ndash; <em>chekishni to`xtatmoq</em><br />
			wish &ndash; <em>tilak&nbsp; </em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span></span></span></span><br />
			<span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:14.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">advise &ndash; <em>maslahat qilmoq</em><br />
			consequently - <em>natijada</em><br />
			in case &ndash; &hellip; <em>bo`lib qolishi mumkinlkigi sababli</em><br />
			out of the question &ndash; <em>savoldan tashqari</em><br />
			propose - <em>maqsad</em><br />
			reply &ndash; <em>javob bermoq</em><br />
			suggest &ndash; <em>maslahat bermoq</em></span></span></span></span></span></p>
			</td>
			<td style="border-bottom:1px solid black; border-left:none; border-right:1px solid black; border-top:1px solid black; height:351px; vertical-align:top; width:262px">
			<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:14.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">arrange -</span></span></span> <em><span style="font-size:14.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">tartibga solish</span></span></span></em><br />
			<span style="font-size:14.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">consider - <em>ko&#39;rib chiqing</em><br />
			in my opinion &ndash; <em>mening fikrimcha, menimcha</em><br />
			postpone - <em>kechiktirish</em><br />
			provide sb with sth &ndash; <em>biror kishini biror</em> <em>narsa bilan ta`minlamoq</em><br />
			revise - <em>qayta ko&#39;rib chiqish</em><br />
			unreasonable &ndash; <em>mantiqsiz, sababsiz</em> concern - <em>tashvish</em><br />
			for the sake of - <em>&hellip;ning hurmati uchun</em><br />
			keep doing - <em>qilishda davom eting</em><br />
			prefer &ndash; <em>afzal ko`rmoq</em><br />
			rearrange &ndash; <em>qayta kelishmoq</em><br />
			schedule - <em>jadval</em><br />
			unsatisfactory - <em>qoniqarsiz</em></span></span></span></span></span></p>
			</td>
		</tr>
	</tbody>
</table>
</details>

</main>

