<style>
.responsive{
height:576px;
}

@media screen and (max-width:660px){
.responsive{
height:100%;
}
}
</style>

<main id="module3" class="hidden module w-full">
<h1 class="text-2xl text-center my-3 font-bold">So`rov xati (Request Letter)</h1>
<iframe class="responsive mb-4" width="100%"  src="https://www.youtube.com/embed/ptBZQ92CDqc" title="Lesson 2. Request letter" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<h2 class="text-xl font-bold my-3">So`rov xati qanday qismlardan iborat bo`ladi?</h2>
<ol class="my-2 py-3">
<li>1. Greeting (salomlashish). </li>
<li>2. Introduction (kirish qismi). Yozishdan maqsadingizni ko'rsating va tegishli masalani eslatib o'ting.</li>
<li>3. Body (ma`no qismi). Siz so`rovingizning sababini keltirishingiz kerak.</li>
<li>4. Closing (yakuniy qism): So`rov o`zingizga kerakli narsani so`rash uchun eng maqbul yo`l hisoblanadi. Ushbu xatda sizning nimani so`rashingiz emas, balki qanday so`rashingiz muhim hisoblanadi.</li>
</ol>

<p class="text-lg py-3"><b>Tavsiyalar:</b></p>
<p class="bg-blue-100 py-3 px-5 font-bold text-blue-400">So`rov xatini yozishda xushmuomala bo`ling, sababi so`rov xatida vaqt, resurs yoki qobiliyat talab etib yoziladi. Xatni oluvchiga bu ishni bajarish tashvish tug`dirmasligini aytib o`tishingiz kerak.</p>
</ol>
<li>Dadil va asosli qilib yozing.</li>
<li>So‘rovingizni aniq yetkazish uchun zarur bo‘lgan tafsilotlarni kiriting.</li>
<li> Biror-bir tushunmovchilik bo`lsa, siz bilan bog`lanishligi mumkin deb taklif bering. </li>
<li>Sizning so`rovingizga vaqt ajratgani uchun minnatdorchilik bildiring.</li>
</ol> 
<h1 class="py-3"><b>Sample Letter Analysis</b></h1>

<b><p class="">You should spend about 20 minutes on tins task.</p>
<p>The English Department has decided to hold a speech contest in late December, but your classmates find that it is too near the final examination. Write to the Dean of the department to suggest a change of the time.</p>
<p>You should write at least 150 wards.<br>
You do NOT need to write your address.<br>
Begin your letter as follows:</b><br>
<b><i>Dear Sir or Madam,</i></b>
</p>

<p>Dear Sir or Madam,<br>
We are students of Class 99-1. We’re glad that the department is to hold an English speech contest. We are sure it is of great help to our oral English and all of us want to take part in it.<br>
We’ve noticed that the time of the contest is on 27th of December. What troubles us is the time of the contest. As you know, according to the school schedule of this term, the final examination is to begin on Jan. 10, We all wish to do excellently in both, but we are afraid that it will be very difficult for us to prepare for the examination and the contest at the same time. As a result, we would spend less time on the preparation of the contest.<br>
Considering the outcome of the contest, we suggest that it be postponed to the next term, preferably in the first few weeks. We suggest so because, generally speaking, we have more free time in that period of time.<br>
Thank you for your attention.<br>
Yours faithfully,<br>
All of Class 99-1 (181 words)

<p><b>Namunaviy xat tahlili:</b></p>
<ol>
<li>1. O`zingizni tanishtirganingizdan keyin, rasmiy Ingliz tilidan murojaat qiling.</li>
<li>2. Keyingi qism nima uchun sinf so'rov xati yuborishi haqida: tanlov va yakuniy imtihon vaqti bir-biriga juda yaqin, bu ikkala tadbirda ham o'quvchilarning samliyatiga ta'sir qilishi mumkin.</li>
<li>3. Keyingi qismda so`rov ro`y rost aytildi.</li>
<li>4. So`rovingizga vaqt ajratib ko`rib chiqqani uchun minnatdorchilik bildiring.</li>
</ol>

<h2 class="my-2 font-bold text-xl">Foydalanishingiz mumkin bo`lgan gap qoliplari:</h2>
<details>
<summary class="py-3 px-3 font-bold text-lg w-full bg-blue-500 rounded-lg text-white">Ko'rish uchun bosing</summary>
● I would like to suggest (that) you (should)... – Siz … qilishingizni taklif qilaman
● May I suggest that... – … taklifni bersam maylimi.
● Considering ..., I propose that ... - …ni hisobga olsak, mening maqsad …
 (e.g. Considering the high cost of the construction, I propose that
we should stop the plan.)
● Concerning this matter, my proposal is ... – Bu masala bo`yicha mening fikrim
● On behalf of I suggest ... – Shaxsan o`zim taklif beraman …
● What I want to suggest is ... – Mentaklif qilmoqchi bo`lgan narsa …
● My suggestion is that... – Mening taklifim shuki …
● In my opinion, I would say ... – Menimcha, … degan bo`lar edim.
● I propose they should ... – Ularni … qilishni taklif qilaman.
● If you had better ... –  … ni qilishingiz eng afzali.
(e.g. If you go to Australia now, you had better bring some warm clothes with
you.)

<details>

<h2 class="my-2 font-bold text-xl">Foydalanishingiz uchun so'z va iboralar:</h2>
<details>
<summary class="py-3 px-3 font-bold text-lg w-full bg-blue-500 rounded-lg text-white">Ko'rish uchun bosing</summary>
advice - maslahat
condition - holat
improve - yaxshilash
matter - muammo
prevent – oldini olish
regard - munosabat
stop smoking – chekishni to`xtatmoq
wish – tilak                                     advise – maslahat qilmoq
consequently - natijada
in case – … bo`lib qolishi mumkinlkigi sababli
out of the question – savoldan tashqari
propose - maqsad
reply – javob bermoq
suggest – maslahat bermoq	arrange - tartibga solish
consider - ko'rib chiqing
in my opinion – mening fikrimcha, menimcha
postpone - kechiktirish
provide sb with sth – biror kishini biror narsa bilan ta`minlamoq
revise - qayta ko'rib chiqish
unreasonable – mantiqsiz, sababsiz concern - tashvish
for the sake of - …ning hurmati uchun
keep doing - qilishda davom eting
prefer – afzal ko`rmoq
rearrange – qayta kelishmoq
schedule - jadval
unsatisfactory - qoniqarsiz

</details>

</main>

