---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Error Page">
<main class=" flex flex-col items-center justify-center min-h-screen">
<h1 class="text-3xl text-gray-700 font-bold">Something went wrong...</h1>
<a href="/" class="bg-indigo-600 text-white text-lg px-5 py-2.5 my-2 rounded-lg">Back Home</a>
</main>
</Layout>
