---
import Layout from '../layouts/Layout.astro';
---
<style>
main{
width:100%;
background: url("https://cdn.dribbble.com/users/4174206/screenshots/16831422/media/94d29474875d173706b59dd856c4012d.jpg");
background-size:cover;
background-repeat:no-repeat;
background-position:center;
}
</style>
<Layout title="Error Page">
<main class=" flex flex-col items-center justify-center min-h-screen">
<a href="/" class="bg-white text-blue-500 text-lg px-5 py-2.5 mt-5 mb-2 rounded-2xl border-3 border-blue-500">Back Home</a>
</main>
</Layout>
