---
import Layout from '../layouts/Layout.astro';
---
<style>
main{
width:100%;
backgound: url(https://cdn.dribbble.com/users/4174206/screenshots/16831422/media/94d29474875d173706b59dd856c4012d.jpg?resize=400x0);
background-size:cover;
background-repeat:no-repeat;
}
</style>
<Layout title="Error Page">
<main class=" flex flex-col items-center justify-center min-h-screen">
<h1 class="text-3xl text-gray-700 font-bold">Something went wrong...</h1>
<a href="/" class="bg-indigo-600 text-white text-lg px-5 py-2.5 my-2 rounded-lg">Back Home</a>
</main>
</Layout>
