<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
<button id="startButton">Start Speech Recognition</button><br>
  <textarea id="output"></textarea>
<script src="/static/artyom.window.min.js" is:inline></script>
  <script>
let FinalRes;
let result;
var outputDiv = document.getElementById('output');
var startButton = document.getElementById('startButton');

document.addEventListener('DOMContentLoaded', function () {
  var artyom = new Artyom();

  var isRecognizing = false;

  startButton.addEventListener('click', function () {
    if (!isRecognizing) {
      artyom.fatality();

      setTimeout(function () {
        artyom.initialize({
          lang: 'en-US',
          continuous: true,
          listen: true,
          interimResults: false,
          debug: true,
        }).then(function () {
          console.log('Artyom initialized');
          // artyom.say('Speech recognition started');
        });
      }, 250);
    } else {
      artyom.fatality();
      MarkingSection()
    }

    isRecognizing = !isRecognizing;
    startButton.innerText = isRecognizing ? 'Stop Speech Recognition' : 'Start Speech Recognition';
  });

  artyom.addCommands({
    indexes: ['zealous'],
    action: function () {
      artyom.fatality();
      startButton.innerText = 'Start Speech Recognition';
      isRecognizing = false;
      outputDiv.value = '';

    },
  });

  artyom.redirectRecognizedTextOutput(function (recognized, isFinal) {
    if (isFinal) {
      outputDiv.value += capitalize(recognized) + '. ';
    }
  });
});

function capitalize(sentence) {
return sentence.charAt(0).toUpperCase() + sentence.slice(1);
}

const MarkingSection=()=>{
  FinalRes=outputDiv.value.split(' ').filter(word => word !== '')
  console.log(FinalRes.length)
  checkGrammar(FinalRes)
}

async function checkGrammar(FinalRes) {
      const textgearsApiKey = 'b0kj6Kg30fSduKSq';
      const textgearsUrl = 'https://api.textgears.com/summarize';

      const res=await fetch(`${textgearsUrl}?key=${textgearsApiKey}&text=${encodeURIComponent(FinalRes)}`)
      const data=await res.json()
      console.log(data)
      
    }
  </script>
</body>
</html>
