---
import Layout from '../layouts/Layout.astro';
import Course from '../components/Course.astro'
import Header from '../components/Header.astro';
import Loader from '../components/Loader.astro';
import HelloPage from '../components/HelloPage.astro';
import BoxCard from '../components/BoxCard.astro';
import TryButton from '../components/TryButton.astro'

---

<Layout title="Home">
<div class="bg-white dark:bg-gray-800 mx-auto" style="width:100%; min-height:100vh">
   <Loader/>
<Header/>
<div style="margin-top:50px;padding-bottom:80px;">
<HelloPage/>	
<main class=" container justify-center items-center px-3">
    <h2 class="text-black text-3xl py-3 font-bold dark:text-white ">Courses</h2>
    <div class="course-slider">
    <Course
     img="https://multiexam.vercel.app/img/letter.jpg"
      title="Task 1"
       descript="Letter Writing Course"
       href="/writing/task1"
     />

     <Course
     img="https://multiexam.vercel.app/img/writing.jpg"
      title="Task 2"
       descript="Task 2 Pro Course"
       href="#"
     />

     <Course
     img="https://multiexam.vercel.app/img/speaking.jpg"
      title="Speaking Course"
       descript="All about Speaking"
       href="#"
     />


    </div>
</main>
<section class="container mx-auto mb-12">
<h2 class="text-black text-3xl py-3 font-bold dark:text-white ">Features</h2>

<BoxCard
href="/wordnik/game"
title="Wordnik Game"
/>  

<BoxCard
href="/self"
title="Self Practice"
/>

<BoxCard
href="/wordnik/beginner/beginner"
title="Beginner Wor.."
/>

<BoxCard
href="/shadowing"
title="Shadowing"
/>

<BoxCard
href="/game"
title="Funny Games"
/>

<BoxCard
href="/assistant"
title="Chat Bot"
/>
   
</section>
</div>
</div>
<TryButton/>
</Layout>

<style>

   body{
    background-color: rgb(252, 252, 252);
   }

/* Course Slider Styles */
.course-slider {
  white-space: nowrap;
  overflow-x: auto;
}

@media only screen and (max-width: 768px) {
/* Course Slider Styles */
  .course-slider {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    padding: 10px;
  }
}
</style>
