---
import Layout from '../layouts/Layout.astro';
import Course from '../components/Course.astro'
import Header from '../components/Header.astro';
import Loader from '../components/Loader.astro';
import Card from '../components/Card.astro';
import HeroSection from '../components/HeroSection.astro';
---

<Layout title="Home">
<div class="bg-white dark:bg-gray-800 mx-auto" style="width:100%; min-height:100vh">
   <Loader/>
<Header/>
<div style="margin-top:50px;padding-bottom:80px;">
<HeroSection/>	
<Course/>  
</div>
<div class="container mx-auto px-4 py-5">   
   <Card
      title="Shadowing"
      href="https://speaking-practice-alpha.vercel.app/"
   />
   <Card
      title="IELTS Speaking Simulator"
      href="https://speak.speechace.co/placement/courses/96/quizzes/443/speakingTest/1"
   />
   </div>
</div>
</Layout>

<style>

   body{
    background-color: rgb(252, 252, 252);
   }
</style>
