---
import Layout from "../layouts/Layout.astro"

let res = await fetch("https://xirurgabdukarim.uz/wp-json/wp/v2/listeningmock?per_page=100&order=asc")
let posts = await res.json();
---
<Layout title="Listening Mock">
  <section>
    <h1 class="text-3xl my-3 font-bold text-center">Listening Mock</h1>
    <div class="container mx-auto mb-8 px-4">
    {
      posts.map((post) => (
      
            <a class="block container mx-auto  bg-indigo-600  my-3 text-center text-2xl font-bold py-8 rounded-lg shadow-lg text-white" href={`/listeningmock/${post.slug}/`} set:html={post.title.rendered} />
         
      ))
    }
  </div>

  </section>
</Layout>
