---
import RadioInput from '../components/quiz/RadioInput.astro'
import Layout from '../layouts/Layout.astro'
---
<Layout title="Mock">
<div class="question">
<RadioInput
qname="q1"
qvalue="A"
choice= "A. No, but you can upgrade."
/>
<RadioInput
qname="q1"
qvalue="B"
choice= "B. A bank account number."
/>
<RadioInput
qname="q1"
qvalue="C"
choice= "C. The last week of every month."
/>
</div>
<br>
<div class="question">
<RadioInput
qname="q2"
qvalue="A"
choice= "A. Why don’t I drive?"
/>
<RadioInput
qname="q2"
qvalue="B"
choice= "B. Take the highway."
/>
<RadioInput
qname="q2"
qvalue="C"
choice= "C. Slow down."
/>
</div>
<br>
<div class="question">
<RadioInput
qname="q3"
qvalue="A"
choice= "A. By using better materials."
/>
<RadioInput
qname="q3"
qvalue="B"
choice= "B. I can prove him wrong."
/>
<RadioInput
qname="q3"
qvalue="C"
choice= "C. Production costs."
/>
</div>
<br>
<div class="question">
<RadioInput
qname="q4"
qvalue="A"
choice= "A. I think it’s April 24."
/>
<RadioInput
qname="q4"
qvalue="B"
choice= "B. Please reserve a room."
/>
<RadioInput
qname="q4"
qvalue="C"
choice= "C. Mary is responsible for that."
/>
</div>
<br>
<div class="question">
<RadioInput
qname="q5"
qvalue="A"
choice= "A. The recent documentary."
/>
<RadioInput
qname="q5"
qvalue="B"
choice= "B. Yes, right here."
/>
<RadioInput
qname="q5"
qvalue="C"
choice= "C. I can’t read them."
/>
</div>
<br>
<div class="question">
<RadioInput
qname="q6"
qvalue="A"
choice= "A. Yes, they are for sale."
/>
<RadioInput
qname="q6"
qvalue="B"
choice= "B. Please put them in the closet."
/>
<RadioInput
qname="q6"
qvalue="C"
choice= "C. He came in first place."
/>
</div>
<br>
<div class="question">
<RadioInput
qname="q7"
qvalue="A"
choice= "What is your surname?"
/>
<RadioInput
qname="q7"
qvalue="A"
choice= "A. I think at least five."
/>
<RadioInput
qname="q7"
qvalue="B"
choice= "B. He stayed overnight."
/>
<RadioInput
qname="q7"
qvalue="C"
choice= "C. At the beginning of March."
/>
</div>

</Layout>
