---
import RadioInput from '../components/quiz/RadioInput.astro'
import Layout from '../layouts/Layout.astro'
---
<Layout title="Mock">
<div class="question">
<RadioInput
qname="q1"
qvalue="A"
choice= "A. No, but you can upgrade."
/>
<RadioInput
qname="q1"
qvalue="B"
choice= "B. A bank account number."
/>
<RadioInput
qname="q1"
qvalue="C"
choice= "C. The last week of every month."
/>
</div>

<div class="question">
<RadioInput
qname="q2"
qvalue="A"
choice= "A. Why don’t I drive?"
/>
<RadioInput
qname="q2"
qvalue="B"
choice= "B. Take the highway."
/>
<RadioInput
qname="q2"
qvalue="C"
choice= "C. Slow down."
/>
</div>

<div class="question">
<RadioInput
qname="q3"
qvalue="A"
choice= "A. By using better materials."
/>
<RadioInput
qname="q3"
qvalue="B"
choice= "B. I can prove him wrong."
/>
<RadioInput
qname="q3"
qvalue="C"
choice= "C. Production costs."
/>
</div>

<div class="question">
<RadioInput
qname="q1"
qvalue="A"
choice= "What is your surname?"
/>
</div>

<div class="question">
<RadioInput
qname="q1"
qvalue="A"
choice= "What is your surname?"
/>
</div>

<div class="question">
<RadioInput
qname="q1"
qvalue="A"
choice= "What is your surname?"
/>
</div>

<div class="question">
<RadioInput
qname="q1"
qvalue="A"
choice= "What is your surname?"
/>
</div>

</Layout>
