---
import Layout from '../layouts/Layout.astro'
import { app } from "../lib/firebase/server";
import { getFirestore } from "firebase-admin/firestore";
import { getAuth  } from "firebase-admin/auth";


const auth = getAuth(app);

/* Check current session */
const sessionCookie = Astro.cookies.get("session").value;

if (!sessionCookie) {
  return Astro.redirect("/account/register");
}
const decodedCookie = await auth.verifySessionCookie(sessionCookie);
const user = await auth.getUser(decodedCookie.uid);

if (!user) {
  return Astro.redirect("/account/register");
}


   interface User {
  name: string;
  status: number;
  email:string;
}

const db = getFirestore(app);
const userRef = db.collection("users").doc(user.uid)
const userSnapshot = await userRef.get();
const userData = userSnapshot.data();

if (userData.status==="unpaid" || userData.tariff==="basic") {
  const { name, email } = userData;
  return Astro.redirect("/account/checkout") 
} else {
  // Handle the case where the user data is not available
  console.log("User data not found.");
}
---

<Layout title="Reading">
<div class="min-h-screen flex flex-col justify-start ">
	<div class="bg-blue-50 rounded-bl-3xl rounded-br-3xl">
	<img src="/static/reading.png" class="w-full">
	
   </div>
   <div class="container mx-auto px-4">
   <div class="columns-3 my-4 text-center">
   	<a href="/reading1" class="js-lookforward" data-transition-enter="slideup" data-transition-leave="slidedown"><div class="px-3 py-5 bg-blue-200 rounded-lg shadow-lg">Part 1</div></a>
   	<a href="/reading2" class="js-lookforward" data-transition-enter="slideup" data-transition-leave="slidedown"><div class="px-3 py-5 bg-blue-200 rounded-lg shadow-lg">Part 2</div></a>
   	<a href="/reading3" class="js-lookforward" data-transition-enter="slideup" data-transition-leave="slidedown"><div class="px-3 py-5 bg-blue-200 rounded-lg shadow-lg">Part 3</div></a>
   </div>
   <div class="columns-3 my-4 text-center">
   	<a href="/reading4" class="js-lookforward" data-transition-enter="slideup" data-transition-leave="slidedown"><div class="px-3 py-5 bg-blue-200 rounded-lg shadow-lg">Part 4</div></a>
   	<a href="/reading5" class="js-lookforward" data-transition-enter="slideup" data-transition-leave="slidedown"><div class="px-3 py-5 bg-blue-200 rounded-lg shadow-lg">Part 5</div></a>
<a href="/reading-mock" class="js-lookforward" data-transition-enter="slideup" data-transition-leave="slidedown"><div class="px-3 py-5 bg-blue-200 rounded-lg shadow-lg">Mock Exam</div></a>
   </div>
   </div>
</div>
</Layout>
