---
import Layout from '../../layouts/Layout.astro'
---

<Layout title="Listening">
<div class="min-h-screen flex flex-col justify-start ">
	<div class="bg-blue-50 rounded-bl-3xl rounded-br-3xl">
	<img src="/static/ielts-listening.svg" class="w-full">
   </div>
   
   <div class="container mx-auto px-4">
   <div class="columns-3 my-4 text-center">
   	<a href="/listening1" class="js-lookforward" data-transition-enter="slideup" data-transition-leave="slidedown"><div class="px-3 py-5 bg-blue-200 rounded-lg shadow-lg">Part 1</div></a>
    <a href="/listening-mock" class="js-lookforward" data-transition-enter="slideup" data-transition-leave="slidedown"><div class="px-3 py-5 bg-blue-200 rounded-lg shadow-lg">Mock Exam</div></a>
   </div>
   </div>
</div>
</Layout>
