---
import 'bootstrap/dist/css/bootstrap.css';
import 'mdb-ui-kit/css/mdb.min.css'
import 'font-awesome/css/font-awesome.min.css'
import Layout from '../../layouts/Layout.astro'
import Result from '../../components/Result.astro'
import Welcome from '../../components/Welcome.astro'
import QuizNav from '../../components/QuizNav.astro'
import SpeakParts from '../../components/SpeakParts.astro'
import SpeakBody from '../../components/SpeakBody.astro'
import SpeakLoader from '../../components/SpeakLoader.astro'
---

<Layout title="Test">
 <SpeakLoader/>

 <Welcome/>

<div id="quizBar" class="hidden">

<QuizNav/>

<SpeakParts/>
 
 <SpeakBody/>
</div>
<Result/>
<audio id="audio"></audio>

                   
                       
                
</div>
</Layout>


<style>
input[type='range'] {
    overflow: hidden;
    width: 80px;
    appearance: none;
    background-color: #eeeeee;
  }
  
  input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    appearance: none;
    color: #13bba4;
    margin-top: -1px;
  }
  
  input[type='range']::-webkit-slider-thumb {
    width: 10px;
    appearance: none;
    height: 10px;
    cursor: ew-resize;
    background: #434343;
    box-shadow: -80px 0 0 80px #292929;
  }


</style>
<script src="https://www.WebRTC-Experiment.com/RecordRTC.js" is:inline></script>
<script src="https://examonline.app/static/jquery.min.js" is:inline></script>
<script is:inline>


//Scale UpandDown
var TextSize=document.getElementById("question-bar");
 function sizeUp(){
    var style = window.getComputedStyle(TextSize, null).getPropertyValue('font-size');
    var fontSize = parseFloat(style);
    TextSize.style.fontSize=(fontSize+1)+'px'
 }

 function sizeDown(){
    var style = window.getComputedStyle(TextSize, null).getPropertyValue('font-size');
    var fontSize = parseFloat(style);
    TextSize.style.fontSize=(fontSize-1)+'px'
 }

 //Fullscreen
 function toggleFullScreen() {
	if (!document.fullscreenElement) {
	  document.documentElement.requestFullscreen();
	  document.getElementById("full-screen").innerHTML=`<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M9 9V4.5M9 9H4.5M9 9L3.75 3.75M9 15v4.5M9 15H4.5M9 15l-5.25 5.25M15 9h4.5M15 9V4.5M15 9l5.25-5.25M15 15h4.5M15 15v4.5m0-4.5l5.25 5.25" />
</svg>
`
	} else if (document.exitFullscreen) {
	  document.exitFullscreen();
	 document.getElementById("full-screen").innerHTML=`<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 3.75v4.5m0-4.5h4.5m-4.5 0L9 9M3.75 20.25v-4.5m0 4.5h4.5m-4.5 0L9 15M20.25 3.75h-4.5m4.5 0v4.5m0-4.5L15 9m5.25 11.25h-4.5m4.5 0v-4.5m0 4.5L15 15" />
</svg>
`
	}
  }
</script>
