<div class="chat-container container mx-auto mb-22">
    <div id="messages" class="messages"></div>
    <div class="fixed pt-8 bottom-0 left-0 flex justify-center items-center cursor-pointer w-full my-4 border-2 border-blue-500 outline-0  rounded-full  w-full py-2 px-4 bg-white">
      <input type="text" id="user-input" placeholder="Type your message here" class="border-0 outline-0  w-full py-2 px-4" />
      <svg id="send-btn" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-7 h-7 text-blue-600">
        <path d="M3.478 2.405a.75.75 0 00-.926.94l2.432 7.905H13.5a.75.75 0 010 1.5H4.984l-2.432 7.905a.75.75 0 00.926.94 60.519 60.519 0 0018.445-8.986.75.75 0 000-1.218A60.517 60.517 0 003.478 2.405z" />
      </svg> 
    </div>
  </div>


<style>
#user-input{
 border:none;
 }       
    
.message.red {
      color: red;
    }

    .chat-container {
      width: 90%;
      margin:0 5% ;
      display: flex;
      flex-direction: column;
      height: auto;
      justify-content: flex-end;
      margin-bottom: 120px;
    }

    .messages {
      flex-grow: 1;
    }

</style>
  <script src="/static/main.js" is:inline></script>
