<div class="chat-container container mx-auto mb-22">
    <div id="messages" class="messages"></div>
    <div class="fixed mt-8 bottom-0 left-0 flex justify-center items-center cursor-pointer w-full my-4 border-2 border-blue-500 outline-0  rounded-full  w-full py-2 px-4 bg-white">
      <input type="text" id="user-input" placeholder="Type your message here" class="border-2 border-transparent outline-2 outline-transparent rounded-full w-full py-2 px-4" style="border:none; outline:none;"/>
      <svg id="send-btn" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-7 h-7 text-blue-600">
        <path d="M3.478 2.405a.75.75 0 00-.926.94l2.432 7.905H13.5a.75.75 0 010 1.5H4.984l-2.432 7.905a.75.75 0 00.926.94 60.519 60.519 0 0018.445-8.986.75.75 0 000-1.218A60.517 60.517 0 003.478 2.405z" />
      </svg> 
    </div>
  </div>


<style>     
    .typing-indicator {
  display: inline-block;
  position: relative;
  width: 5px;
  height: 5px;
}

.typing-indicator:before,
.typing-indicator:after,
.typing-indicator span {
  content: '';
  display: inline-block;
  background-color: #000;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  animation: typing-indicator-bounce 1s infinite;
}

.typing-indicator:before {
  margin-right: 2px;
  animation-delay: 0s;
}

.typing-indicator:after {
  margin-right: 2px;
  animation-delay: 0.2s;
}

.typing-indicator span {
  animation-delay: 0.4s;
}

@keyframes typing-indicator-bounce {
  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.message.red {
      color: red;
    }

    .chat-container {
      width: 90%;
      margin:0 5% ;
      display: flex;
      flex-direction: column;
      height: auto;
      justify-content: flex-end;
      margin-bottom: 120px;
    }

    .messages {
      flex-grow: 1;
    }

</style>
  <script src="/static/main.js" is:inline></script>
