<div class="chat-container container mx-auto mb-22">
    <div id="messages" class="messages"></div>
   <div>   
    <div class="w-full flex items-center justify-center fixed bottom-2 left-0">
        <input type="text" id="user-input" class="block w-full p-4 pl-10 text-sm text-gray-900 border border-2 border-blue-500 rounded-full bg-white focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Type your message here..." required>
  
        <svg id="send-btn" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-7 h-7 text-blue-600 absolute right-2.5">
        <path d="M3.478 2.405a.75.75 0 00-.926.94l2.432 7.905H13.5a.75.75 0 010 1.5H4.984l-2.432 7.905a.75.75 0 00.926.94 60.519 60.519 0 0018.445-8.986.75.75 0 000-1.218A60.517 60.517 0 003.478 2.405z" />
      </svg> 
    </div>
</div>

  </div>


<style>  
    .typing-indicator {
  display: inline-block;
  position: relative;
  width: 5px;
  height: 5px;
}

.typing-indicator:before,
.typing-indicator:after,
.typing-indicator span {
  content: '';
  display: inline-block;
  background-color: #000;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  animation: typing-indicator-bounce 1s infinite;
}

.typing-indicator:before {
  margin-right: 2px;
  animation-delay: 0s;
}

.typing-indicator:after {
  margin-right: 2px;
  animation-delay: 0.2s;
}

.typing-indicator span {
  animation-delay: 0.4s;
}

@keyframes typing-indicator-bounce {
  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.message.red {
      color: red;
    }

    .chat-container {
      width: 90%;
      margin:0 5% ;
      display: flex;
      flex-direction: column;
      height: auto;
      justify-content: flex-end;
      margin-bottom: 120px;
    }

    .messages {
      flex-grow: 1;
    }

</style>
  <script src="/static/main.js" is:inline></script>
