---
export interface Props {
	title: string;
	href: string;
}

const { href, title } = Astro.props;
---

<a href={href} class="link-card  my-2 rounded-full">
		<h1>
			{title}
		</h1>
		<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
			<path stroke-linecap="round" stroke-linejoin="round" d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5" />
		  </svg>		  
	</a>
<style>
	.link-card {
		list-style: none;
		display: flex;
		padding: 0.30rem;

	}

	.card {
		width: 100%;
		text-decoration: none;
		line-height: 1.4;
		padding: 1.2rem 1.3rem;
		display:flex;
		justify-content: space-between;
		align-items: center;
	}
	

</style>
