---
export interface Props {
	title: string;
	href: string;
}

const { href, title } = Astro.props;
---

<a href={href} class="link-card flex justify-between items-center w-full bg-indigo-600 text-white text-2xl shadow dark:bg-gray-800 boder-2 dark:border-gray-700 my-2 rounded-full">
		<h1>
			{title}
		</h1>
		<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
			<path stroke-linecap="round" stroke-linejoin="round" d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5" />
		  </svg>		  
	</a>
<style>
	.link-card {
		list-style: none;
		display: flex;
		padding: 25px;

	}

	

</style>
