---
import 'bootstrap/dist/css/bootstrap.css';
import 'mdb-ui-kit/css/mdb.min.css'
import 'font-awesome/css/font-awesome.min.css'
---

<div class="pt-5 pb-2 block bg-white container-fluid">
 <h2 class="px-3 text-2xl text-gray-700">Welcome back 👋!</h2>
</div>

