<div class="text-center my-5">
    <span id="part1" class=" badge px-3 py-2 bg-emerald-400 level-one fw-bold text-light mx-3">Part 1</span>
    <span id="part2" class=" badge px-3 py-2  bg-blue-500 level-two fw-bold text-light mx-3 rounded">Part 2</span>
    <span id="part3" class=" badge  bg-blue-500 px-3 py-2 level-three fw-bold text-light mx-3 rounded">Part 3</span>
</div>