<div class="mb-5 w-full p-8 bg-white rounded-lg border-2 border-indigo-300 shadow-lg">
  <p id="textbox"></p>
  <textarea style="display: none;" name="" id="hidden-textbox" cols="30" rows="10"></textarea>
</div>
