<div class="flex justify-center items-center fixed bottom-0 left-0 py-3 w-full bg-white border rounded-tr-2xl rounded-tl-2xl">
<a href="https://multiexam.vercel.app/freetests/test6/" class="flex  bg-indigo-600 py-2.5 px-12 text-xl font-bold text-white rounded-2xl">Try It Out</a>
</div>
