---
import { app } from "../../lib/firebase/server";
import { getFirestore } from "firebase-admin/firestore";
import { getAuth } from "firebase-admin/auth";
import Layout from "../../layouts/Layout.astro";
import FooterMenu from '../../components/FooterMenu.astro'
import Card from '../../components/Card.astro'
import DashHeader from '../../components/DashHeader.astro';
import Loader from '../../components/Loader.astro';

const auth = getAuth(app);

/* Check current session */
const sessionCookie = Astro.cookies.get("session").value;

if (!sessionCookie) {
  return Astro.redirect("/");
}
const decodedCookie = await auth.verifySessionCookie(sessionCookie);
const user = await auth.getUser(decodedCookie.uid);

if (!user) {
  return Astro.redirect("/");
}

interface Friend {
  id: string;
  name: string;
  age: number;
  isBestFriend: boolean;
}

const db = getFirestore(app);
const friendsRef = db.collection("users");
const friendsSnapshot = await friendsRef.get();
const friends = friendsSnapshot.docs.map((doc) => ({
  id: doc.id,
  ...doc.data(),
})) as Friend[];
---

<Layout title="Dashboard">
    <Loader/>
    <div class="bg-white dark:bg-gray-900 mx-auto" style="width:100%; min-height:100vh">
<DashHeader/>
<ul style="padding: 100px 0 0 30px;  ">
  {
    friends.map((friend) => (
      <li class="flex">
        <a style="color:blue; font-weight:bold ">{"Hello, " + friend.name}</a>
      </li>
    ))
  }
</ul>
  <h2 class="text-gray-900 dark:text-white" style="margin: 5px 0 0 30px;">{user.email}, Welcome to Dashboard!</h2>
<div class=" mx-3 flex flex-col" style="padding-bottom:120px">
  <Card 
  title="Speaking Mock"
  href="/account/dashboard"
  />

  <Card 
  title="Writing Checker"
  href="/account/dashboard"
  />

  <Card 
  title="Reading"
  href="/account/dashboard"
  />

  <Card 
  title="Listening"
  href="/account/dashboard"
  />

  <Card 
  title="Phrasal Verbs"
  href="/account/dashboard"
  />

  <Card 
  title="Dictionary"
  href="/account/dashboard"
  />

  <Card 
  title="Wordnik Game"
  href="/wordnik/game"
  />
</div>
  
  <FooterMenu/>
      </div>
</Layout>

