---
import { app } from "../../lib/firebase/server";
import { getFirestore } from "firebase-admin/firestore";
import { getAuth  } from "firebase-admin/auth";
import Layout from "../../layouts/Layout.astro";
import FooterMenu from '../../components/FooterMenu.astro'
import Card from '../../components/Card.astro'
import DashHeader from '../../components/DashHeader.astro';
import Loader from '../../components/Loader.astro';

const auth = getAuth(app);

/* Check current session */
const sessionCookie = Astro.cookies.get("session").value;

if (!sessionCookie) {
  return Astro.redirect("/account/register");
}
const decodedCookie = await auth.verifySessionCookie(sessionCookie);
const user = await auth.getUser(decodedCookie.uid);

if (!user) {
  return Astro.redirect("/account/register");
}


   interface User {
  name: string;
  status: number;
  email:string;
}

const db = getFirestore(app);
const userRef = db.collection("users").doc(user.uid)
const userSnapshot = await userRef.get();
const userData = userSnapshot.data();

if (userData.status==="unpaid") {
  const { name, email } = userData;
  return Astro.redirect("/") 
} else {
  // Handle the case where the user data is not available
  console.log("User data not found.");
}
---

<Layout title="Dashboard">
    <Loader/>
    <div class="bg-white dark:bg-gray-900 mx-auto" style="width:100%; min-height:100vh">
<DashHeader/>
  <h2 class="text-gray-900 dark:text-white" style="margin: 5px 0 0 30px; padding: 100px 0 0 0"><b>{userData.name}</b>, Welcome to Dashboard!</h2>
<div class=" mx-3 flex flex-col" style="padding-bottom:120px">
  
  <Card 
  title="Reading"
  href="/reading"
  />

  <Card 
  title="Listening"
  href="/account/dashboard"
  />

  <Card 
  title="Phrasal Verbs"
  href="https://multiexam.vercel.app/bot/phrases.html"
  />

  <Card 
  title="Chat GPT"
  href="https://edumo-gpt.vercel.app/"
  />

  <Card 
  title="Wordnik Game"
  href="/wordnik/game"
  />
</div>
  
  <FooterMenu/>
      </div>
</Layout>

