<div class="container mx-auto px-3">
<details>
    <summary>Sample Answer</summary>
    <p id="data" style="height: auto;">
       <b>What do you do in your free time?</b><br>
        I love reading and writing when I have some free time available. Apart from these, I also like playing badminton. So, whenever I do get time, I usually read, write or play badminton.<br>
        <b>Do you have a busy social life?</b><br>
        Yes, I do have quite a busy social life as I have a lot of friends with whom I often meet sometimes to celebrate someone's birthday or other important events. Even I love to intermingle with like-minded people in social gatherings.<br>

        <b>Has your life changed much in the last year?</b><br>
        Yeah, in certain aspects. Last year I was out of the job due to covid, but this year I’m gainfully employed. I also own a business, and I live independent now, whereas last year, I was dependent on my sister.<br>

        <b>What would you like to change about your lifestyle?</b><br>
        I want to cultivate a habit of early sleeping because it will not only help me to wake up early in the morning but will also help me to strike a balance between my professional and personal life.<br>

        <b>Do you enjoy your current stage of life</b><br>
        Definitely! I’m so blessed to have parents who are supportive of me financially and emotionally. They support all my endeavors, especially my mom, she’s my greatest cheerleader and I can’t thank her enough. I don’t know what my life would be like without them.<br>
        <b>What do you dislike about your current stage of life</b><br>
        There is not a lot I dislike…I guess some days I don’t like have to stick to a work schedule. It would be nice to be able to just do things at my own pace or time. I also don’t like my neighborhood too much. Not because the people aren’t nice or anything, but there are no kids for my son to play with which would have been nice. I see the neighborhoods around the school I teach at and there are kids everywhere while we have known.
        
        </p>
</details>
        
</div>