---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="dark">
	<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<meta property="og:title" content="Exam Online-Edumo" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://examonline.app/" />
	<meta property="og:image" content="https://cdn.pixabay.com/photo/2018/05/15/20/47/microphone-3404243_960_720.png" />
	<meta name="description" content="Exam Online">
	<meta name="author" content="Kubayev Javlon">
	<meta name="keywords" content="Exam Online, Multi Level, Speaking, IELTS, ingliz tili, Multi Level Speaking, Speaking exam">
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8302696123269910"
     crossorigin="anonymous"></script>
  <script src="/static/index.js" is:inline></script>
		<meta name="generator" content={Astro.generator} />
<script src="https://unpkg.com/webtonative@1.0.44/webtonative.min.js" is:inline></script>
		<script>

const { appReview: AppReview } = window.WTN

AppReview.prompt()

    // On page load or when changing themes, best to add inline in `head` to avoid FOUC
    if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.classList.add('dark');
    } else {
        document.documentElement.classList.remove('dark')
    }

</script>
<link rel="manifest" href="/manifest.json">
		<title>{title}</title>
	
	</head>
	<body>
		<slot />
<script src="https://code.responsivevoice.org/responsivevoice.js?key=3Wzpm5HU" is:inline></script>

	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, #1fbb8a, rgb(31,187,138) 30%, white 60%);
}
	
@media screen and (max-width: 768px){
  ::-webkit-scrollbar {
      -webkit-appearance: none;
  }
}	

</style>
