<div id="alert" class="hidden alert rounded shadow-lg bg-red-400 absolute top-0 w-full" style="z-index: 999;">
  <span>Do you want to exit?</span>
  <div>
    <button id="deny" class="btn btn-sm mx-2 my-2">No</button>
    <button id="accept" class="btn btn-sm mx-2 my-2">Yes</button>
  </div>
</div>
