<div class="flex items-center justify-center">
	<button disabled class="btn btn-wide btn-success absolute bottom-6 text-white"style="z-index:1" id="check-btn" onclick="checkAnswer()">Check answer</button>
	<button  class="hidden btn btn-wide btn-success absolute bottom-6 text-white"style="z-index:1" id="next-btn" onclick="nextFlashcard();
">Continue</button>
	<div id="feedbar" class="hidden absolute bottom-0 w-full bg-green-200 h-32">
		<p class="text-xl text-center text-green-600 font-bold py-3 px-3" id="feedback">Perfect!</p>
	</div>
</div>
</div>	
