<header class="flex items-center justify-between py-4">
<button id="exit" class="px-3"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 cursor-pointer">
  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
</svg>
</button>
<progress id="progress" class="progress progress-warning w-56 h-5" value="3"  max="100"></progress>
<div class="rating gap-1 px-3">
  <input type="radio" name="rating-3"  class="mask mask-heart bg-red-400" /><span id="score"></span>
</div>
</header>